mixin badge(data)
	-
		let modsArray = '';

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} badge__${modsList[i].trim()}`;
			}
		}

	span.badge(class=modsArray)&attributes(attributes)= data.text
