//- Arguments:
	mods  {string}  - Mod('s)
	text  {string}  - Dropdown toggle text
	link  {string}  - Link
	inNav {boolean} - If dropdown contained in navbar

//- Call:
	+dropdown({ text: 'Lorem' })
		+dropdown-item({ text: 'Lorem', link: '#' })

mixin dropdown(data)
	#{data.inNav ? 'li' : 'div'}(class=data.inNav ? 'nav__item dropdown' : 'dropdown')&attributes(attributes)
		button(class=data.inNav ? 'nav__link dropdown__toggle' : 'dropdown__toggle')= data.text
		ul.dropdown__menu
			block

mixin dropdown-item(data)
	li.dropdown__item
		a.dropdown__link(href=data.link)&attributes(attributes)= data.text
