//- Arguments:
	text {string} - Text
	href {string} - Href content

//- Call:
	+dropdown('Text')
		+dropdown-item({text: 'Text', href: 'http://localhost:3300/'})


//- Dropdown
mixin dropdown(text)
	li.menu__item.dropdown
		button.menu__link.dropdown__toggle(type='button')= text
		ul.dropdown__menu
			block

mixin dropdown-item(data)
	li.dropdown__item&attributes(attributes)
		a.dropdown__link(href=data.href)= data.text
