//- Arguments:
	text   {string} - Link text
	link   {string} - Link
	anchor {string} - Smooth scrolling to the specified block

//- Call:
	+nav
		+nav-item({ text: 'Lorem', link: '#' })

mixin nav
	nav.header__nav.nav&attributes(attributes)
		ul.nav__list
			block

//- Nav item
mixin nav-item(data)
	-
		let tag;
		!data.anchor ? tag = 'a' : tag = 'button';

	li.nav__item
		#{tag}.nav__link(
			href=data.link ? data.link : null,
			data-anchor=data.anchor ? data.anchor : null
		)&attributes(attributes)= data.text
			block
