mixin sprite(data)
	if !data.isImage
		svg(class=`icon icon-${data.name}`)&attributes(attributes)
			use(
				xlink:href=`assets/sprites/${data.ismulti ? 'icons-multi' : 'icons-mono'}.svg#${data.name}`
			)

	if data.isImage
		svg&attributes(attributes)
			use(xlink:href=`assets/sprites/images.svg#${data.name}`)
