mixin sprite(data)
	if !data.image
		svg(class=`icon icon-${data.name}`)&attributes(attributes)
			use(xlink:href=`assets/sprites/${data.multi ? 'icons-multi' : 'icons-mono'}.svg#${data.name}`)

	if data.image
		svg&attributes(attributes)
			use(xlink:href=`assets/sprites/images.svg#${data.name}`)