//- Tab
mixin tabs(data)
	-
		let modsArray = '';

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} ${modsList[i].trim()}__tabs`;
			}
		}

	.tabs(class=modsArray, data-tab=data.tab)&attributes(attributes)
		nav.tabs__header(role='tablist')
			block header

		.tabs__inner
			block content

//- Tab button
mixin tabs-btn(text)
	button.tabs__btn(type='button')&attributes(attributes)!= text

//- Tab content
mixin tabs-content
	.tabs__content(role='tabpanel')&attributes(attributes)
		block
