/// * @font-face
///
/// @param {value} $fontName - Font family name
/// @param {value} $weightName [Regular] - Font weight name
/// @param {number} $weight [400] - Font weight
/// @param {value} $style [normal] - Font style
/// @example
/// 	@include font.face(
/// 		$fontName: Inter,
/// 		$weightName: Regular,
/// 		$weight: 400,
/// 		$style: normal,
/// 	)

@mixin face($fontName, $weightName: Regular, $weight: 400, $style: normal) {
	@font-face {
		font-weight: $weight;
		font-family: '#{$fontName}';
		font-style: $style;
		src: url('../fonts/#{$fontName}-#{$weightName}.woff2') format('woff2');
		font-display: swap;
	}
}
