@use 'utilities/functions/convert';
@use 'sass:map';

$_breakpoints: (
	xs: 0,
	sm: 576,
	md: 768,
	lg: 992,
	xl: 1200,
	xxl: 1400,
);

@mixin min($key) {
	@media (min-width: convert.em(map.get($_breakpoints, $key))) {
		@content;
	}
}

@mixin max($key) {
	@media (max-width: convert.em(map.get($_breakpoints, $key) - 0.2)) {
		@content;
	}
}

@mixin minmax($key1, $key2) {
	$_breakpointMin: convert.em(map.get($_breakpoints, $key1));
	$_breakpointMax: convert.em(map.get($_breakpoints, $key2) - 0.2);

	@media (min-width: $_breakpointMin) and (max-width: $_breakpointMax) {
		@content;
	}
}

@mixin hover {
	@media (any-hover: hover) {
		&:hover {
			@content;
		}
	}
}
