@use 'src/styles/utils/forwards' as *;
@use 'src/styles/mixins/media';
@use 'src/styles/mixins/icon';

$_main-breakpoint: lg;
$_color-active: color(accent, 500);

.dropdown {
	position: relative;

	&__toggle {
		display: flex;
		align-items: center;

		&:after {
			margin-left: rem(5);

			@include icon.arrow-1($size: 6, $color: currentColor, $direction: bottom, $radius: 4);

			@include media.min($_main-breakpoint) {
				border-top-width: rem(6);
				border-right-width: rem(6);
				border-left-width: rem(6);
			}

			content: '';
		}

		&.--show {
			color: $_color-active;

			&:after {
				transform: rotateX(180deg);
			}

			//? Show dropdown
			& ~ .dropdown__menu {
				@include media.max($_main-breakpoint) {
					display: block;
				}

				@include media.min($_main-breakpoint) {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}

	&__menu {
		@include media.max($_main-breakpoint) {
			display: none;
		}

		@include media.min($_main-breakpoint) {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 15;

			visibility: hidden;
			opacity: 0;
		}
	}

	&__item {
	}

	&__link {
		color: currentcolor;

		@include media.hover {
			&:hover {
			}
		}
	}

	.divider {
		// margin: rem(5) 0;
	}
}
