@use 'utils/forwards' as *;
@use 'mixins/icon';
@use 'mixins/media';

$_bg: transparent;

.header {
	z-index: 10;

	background: $_bg;

	//? Header overlay
	&:before {
		// 	position: fixed;
		// 	top: 0;
		// 	left: 0;
		// 	z-index: 1;

		// 	width: 100%;
		// 	height: $_height;

		// 	background: $_bg;

		// 	content: '';
	}

	&__inner {
		display: flex;
		align-items: center;
		min-height: rem(80);
	}

	&__logo {
		z-index: 1;
	}

	&__nav {
	}
}
