@use 'sass:map';
@use 'utils/forwards' as *;
@use 'mixins/media';

$_color: inherit;
$_bg: $white;
$_menu-transition-delay: 0.3s;
$_bezier: cubic-bezier(0.785, 0.135, 0.15, 0.86);

.nav {
	background: $_bg;

	//? Mobile menu
	@include media.max($main-breakpoint) {
		position: fixed;
		top: 0;
		left: -100%;

		height: 100%;
		overflow-y: auto;

		transition: left $_menu-transition-delay $_bezier;

		&.--show {
			left: 0;
		}
	}

	&__list {
		@include media.min($main-breakpoint) {
			display: flex;
		}
	}

	&__item {
		@include media.min($main-breakpoint) {
			&:not(:last-child) {
			}
		}
	}

	&__link {
		color: $_color;
		font-size: inherit;

		&.--current {
			pointer-events: none;
		}

		@include media.hover {
			&:hover {
				color: $accent;
			}
		}
	}
}
