// Breakpoints
$break_xs:   320;
$break_sm:   575.98;
$break_md:   767.98;
$break_lg:   991.98;
$break_xl:   1199.98;
$break_xxl:  1399.98;
$break_xxxl: 1599.98;

// Breackpoints map
$breakpoints: (
	xs:   $break_xs,
	sm:   $break_sm,
	md:   $break_md,
	lg:   $break_lg,
	xl:   $break_xl,
	xxl:  $break_xxl,
	xxxl: $break_xxxl,
);

// Max width container map
$containerMaxWidth: (
	sm:    $break_sm - 30,
	md:    $break_md - 30,
	lg:    $break_lg - 40,
	xl:    $break_xl - 60,
	xxl:   $break_xxl - 80,
	xxxl:  $break_xxxl - 80,
	fluid: 100%,
);

// $fields: 0 15px;
$fields: (
	default: 0 30px,
	min: 0 15px,
);

// Get max width container map
@function mxw-container($key) {
	@if map-has-key($containerMaxWidth, $key) {
		@return map-get($containerMaxWidth, $key);
	}

	@warn 'Size `#{$key}` not found in $containerMaxWidt map.';
	@return null;
}

@function fields($key) {
	@if map-has-key($fields, $key) {
		@return map-get($fields, $key);
	}

	@warn 'Size `#{$key}` not found in $fields map.';
	@return null;
}


// Media queries mixins
@mixin media-min($key) {
	$breakpoint: map-get($breakpoints, $key);

	@media (min-width: em($breakpoint)) {
		@content;
	}
}

@mixin media-max($key) {
	$breakpoint: map-get($breakpoints, $key);

	@media (max-width: em($breakpoint)) {
		@content;
	}
}

@mixin media-minmax($key1, $key2) {
	$breakpointMin: map-get($breakpoints, $key1);
	$breakpointMax: map-get($breakpoints, $key2);

	@media (min-width: em($breakpointMin)) and (max-width: em($breakpointMax)) {
		@content;
	}
}

// Adaptive mixin
$maxWidth: 1920;
$mxwContainer: mxw-container(xxl);
$mxwContainerEm: em(1400 - 80);

@mixin adaptive($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;

	@if $type == 1 {
		#{$property}: rem($startSize);

		@media (max-width: #{$mxwContainerEm}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$mxwContainer - 320}));
		}
	} @else if $type == 2 {
		#{$property}: rem($startSize);

		@media (min-width: #{$mxwContainerEm}) {
			#{$property}: calc(
				#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
			);
		}
	} @else {
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}
