@font-face {
    font-weight: 400;
    font-family: "Poppins";
    font-style: normal;
    src: url("assets/fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
    font-weight: 400;
    font-family: "Nunito";
    font-style: normal;
    src: url("assets/fonts/Nunito-Regular.woff2") format("woff2");
}
