@mixin focus-visible {
    @if (&) {
        .js-focus-visible &:focus:not(.focus-visible) {
            @content;
        }
    }
    //
    @else {
        .js-focus-visible :focus:not(.focus-visible) {
            outline: none;
        }
    }
}
