// Breakpoints / Start
$breakpoints: (
    xs: 320px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

$containerMaxWidth: (
    sm: get-breakpoint(sm) - 30px,
    md: get-breakpoint(md) - 30px,
    lg: get-breakpoint(lg) - 40px,
    xl: get-breakpoint(xl) - 60px,
    xxl: get-breakpoint(xxl) - 80px,
    fluid: 100%,
);

$fields: 0 15px;
// Breakpoints / End

// Colors / Start

// Base
$white: #fff;
$black: #000;
$light: #f1f4f8;
$dark: #161c2d;

// Primary
$primary: #ff5c29;
$primaryLight: #ffe6db;
$primaryDark: #c8642f;
$primaryBg: #fff6f2;

// Secondary
$secondary: #334756;
$secondaryLight: #6a91ad;
$secondaryDark: #1d2830;
$secondaryBg: #b3babf;

// UI
$bg: #f7f7fc;
$bgHeader: #082032;
$scrollBar: #909090;
$scrollBarHover: #ccc;

// Typography
$headline: #14142b;
$title: $headline;
$text: #4e4b66;
$link: $text;
$hover: $primaryDark;
$disabled: #e5e5e5;
$placeholder: #a0a3bd;

// Succes
$success: #10ba96;
$successLight: #dbfff7;
$successDark: #108b71;
$successBg: #f2fffc;

// Warning
$warning: #ffc107;
$warningLight: #fffcdb;
$warningDark: #b39417;
$warningBg: #fffdf2;

// Error
$error: #df4759;
$errorLight: #ffdbdf;
$errorDark: #8b101d;
$errorBg: #fff2f4;

// Info
$info: #407fd0;
$infoLight: #dbebff;
$infoDark: #104a8b;
$infoBg: #f2f8ff;
// Colors / End

// Fonts / Start
$ff-primary: 'Montserrat', sans-serif;
$ff-secondary: 'Nunito', sans-serif;

$fz-base: 14px;
$lh-base: 32px;
// Fonts / End
