.pagination {
	$btn_padding: rem(8) rem(10);
	$item_ctrl_margin: rem(0);
	$item_num_margin: rem(0);

	display: flex;
	justify-content: center;

	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: rem(5) rem(10);
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__item {
		&:first-child {
			margin-right: $item_ctrl_margin;
		}

		&:last-child {
			margin-left: $item_ctrl_margin;
		}

		&:not(:first-child, :last-child) {
			margin-right: $item_num_margin;
		}
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		padding: $btn_padding;

		color: inherit;
		line-height: 1;

		transition: transition(time);

		fill: inherit;

		&:disabled,
		&.--disabled {
			color: state(disabled, color);

			background: state(disabled, bg);

			fill: state(disabled, color);
		}

		@include media-hover {
			&:hover {
				color: accent(500);

				background: state(hover);

				fill: accent(500);
			}
		}

		&-dots {
			color: gray(500);
		}

		&.--current {
			color: accent(500);

			background: state(active);
		}
	}
}
