.pagination {
	$btn_padding: rem(8) rem(10);
	$btn_control_between: rem(0);
	$btn_num_between: rem(0);
	$content_padding: rem(0) rem(0);

	display: flex;
	justify-content: center;

	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: $content_padding;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__item {
		&:first-child {
			margin-right: $btn_control_between;
		}

		&:last-child {
			margin-left: $btn_control_between;
		}

		&:not(:first-child, :last-child) {
			margin-right: $btn_num_between;
		}
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		padding: $btn_padding;

		color: inherit;
		line-height: 1;

		fill: inherit;

		&:disabled,
		&.--disabled {
			color: state(disabled, color);

			background: state(disabled, bg);

			fill: state(disabled, color);
		}

		@include media-hover {
			&:hover {
				color: color(accent, 500);

				background: state(hover);

				fill: color(accent, 500);
			}
		}

		&.--current {
			color: color(accent, 500);

			background: state(active);
		}
	}

	&__dots {
		color: inherit;
	}
}
