.pagination {
	$controls_margin: rem(10);
	$controls_padding: rem(7);

	display: flex;
	justify-content: center;

	color: gray(600);
	font-weight: 600;
	font-size: rem(16);
	font-family: font(second);
	letter-spacing: $letterSpacing;

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: rem(5) rem(10);

		background: $white;
		border: $border;
		border-radius: radius(sm);
		box-shadow: $boxShadow;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__item {
		&:not(:last-child) {
			margin-right: rem(5);
		}
	}

	&__btn {
		display: inline-block;
		padding: rem(5) rem(10);

		&,
		&-prev,
		&-next {
			color: inherit;

			border-radius: radius(sm);

			transition: transition(time);

			@include media-hover {
				&:hover {
					color: accent(500);

					background: state(hover);

					fill: accent(500);
				}
			}
		}

		&-prev,
		&-next {
			display: flex;
			align-items: center;
			padding: $controls_padding;

			fill: gray(600);

			&.--disabled {
				color: state(disabled, color);

				background: state(disabled, bg);

				fill: state(disabled, color);
			}
		}

		&-prev {
			margin-right: $controls_margin;
		}

		&-dots {
			color: gray(500);
		}

		&-next {
			margin-left: $controls_margin;
		}

		&.--current {
			color: accent(500);

			background: state(active);
		}
	}
}
