@use 'utils/forwards' as *;
@use 'mixins/component';

$_size: rem(14);
$_empty-size: rem(14);
$_badges: (
	any: $accent,
);

.badge {
	display: inline-block;
	box-sizing: content-box;
	min-width: $_size;
	padding: rem(6);

	font-size: $_size;
	line-height: 1;
	white-space: nowrap;
	text-align: center;

	border-radius: em(16);

	&:empty {
		width: $_empty-size;
		height: $_empty-size;
		padding: 0;

		background: $accent;
	}

	@include component.badge($element: 'solid', $color: $white, $bg: $accent);

	// @each $mod, $color in $_badges {
	// 	@include component.badge($element: 'solid', $mod: '--#{$mod}', $color: $white, $bg: $color);
	// }
}
