@use 'utils/forwards' as *;
@use 'mixins/adaptive' as *;

.btn {
	display: inline-flex;
	align-items: center;
	overflow: hidden;

	font-size: initial;
	line-height: inherit;
	white-space: nowrap;
	text-align: center;
	text-overflow: ellipsis;
	vertical-align: middle;

	cursor: pointer;

	transition: 0.1s;

	user-select: none;
}
