@use 'utils/forwards' as *;
@use 'mixins/adaptive' as *;
@use 'mixins/media';

$_items-between-max: 25;
$_items-between-min: 15;

$_inner-padding-x-max: 25;
$_inner-padding-x-min: 15;
$_inner-padding-y-max: 25;
$_inner-padding-y-min: 15;

$_main-breackpoint: lg;

.card {
	overflow: hidden;

	//? ### Col card
	&.col {
		display: flex;
		flex-direction: column;
		grid-column: 12 span;
		overflow: hidden;

		@include media.min(sm) {
			grid-column: 6 span;
		}

		@include media.min($_main-breackpoint) {
			grid-column: 4 span;
		}

		@include media.min(xl) {
			grid-column: 3 span;
		}

		> .card__inner {
			height: 100%;
		}
	}

	//? ### Row card
	&.row {
		// display: grid;
		// grid-column: 12 span;

		// @include media.min(sm) {
		// 	grid-template-columns: 2fr 3fr;
		// }

		// @include media.min($_main-breackpoint) {
		// 	grid-column: 6 span;
		// }

		// > .card__inner {
		// }
	}

	&__preview {
		position: relative;

		width: 100%;
		min-height: rem(170);
		overflow: hidden;

		@include media.min(md) {
			min-height: rem(200);
		}

		//? Preview overlay
		@include media.hover {
			// &[href] {
			// 	&:before {
			// 		position: absolute;
			// 		top: 50%;
			// 		left: 50%;
			// 		z-index: 2;

			// 		color: $white;
			// 		text-align: center;

			// 		transform: translate(-50%, -50%);
			// 		opacity: 0;

			// 		content: 'Learn more';
			// 	}

			// 	& img {
			// 		filter: brightness(1);
			// 	}

			// 	&:hover {
			// 		&:before {
			// 			opacity: 1;
			// 		}

			// 		& img {
			// 			filter: brightness(0.2);
			// 		}
			// 	}
			// }
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		padding: rem($_inner-padding-y-min) rem($_inner-padding-x-min);

		@include media.min($_main-breackpoint) {
			padding: rem($_inner-padding-y-max) rem($_inner-padding-x-max);
		}

		//? Space between card items
		> [class^='card__']:not(:last-child) {
			@include adaptive('margin-bottom', $_items-between-max, $_items-between-min);
		}
	}

	&__content {
		flex: 1 1 auto;

		@include media.hover {
			&[href] {
				&:hover {
				}
			}
		}
	}
}
