@use 'utils/forwards' as *;
@use 'mixins/media';
@use 'mixins/icon';

$_color-active: $accent;

.dropdown {
	position: relative;

	&.--show {
		& .dropdown__toggle {
			color: $_color-active;

			&:after {
				transform: rotateX(180deg);
			}
		}

		& .dropdown__menu {
			@include media.max($main-breakpoint) {
				display: block;
			}

			@include media.min($main-breakpoint) {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&__toggle {
		display: flex;
		align-items: center;

		&:after {
			margin-left: rem(5);

			@include icon.arrow-1($size: 10, $direction: bottom, $radius: 4);

			@include media.min($main-breakpoint) {
				border-top-width: rem(6);
				border-right-width: rem(6);
				border-left-width: rem(6);
			}

			content: '';
		}
	}

	&__menu {
		@include media.max($main-breakpoint) {
			display: none;
		}

		@include media.min($main-breakpoint) {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 15;

			visibility: hidden;
			opacity: 0;
		}
	}

	&__item {
	}

	&__link {
		color: currentcolor;
		white-space: nowrap;

		@include media.hover {
			&:hover {
			}
		}
	}

	// .divider {
	// 	margin: rem(5) 0;
	// }
}
