@use 'utils/forwards' as *;
@use 'mixins/media';

.dropdown {
	position: relative;

	&__menu {
		width: fit-content;

		@include media.min(md) {
			position: absolute;
			top: 100%;

			visibility: hidden;
			opacity: 0%;

			pointer-events: none;
		}

		@include media.max(md) {
			display: none;
		}
	}

	&__toggle {
		color: currentcolor;
	}

	&__item {
	}

	&__link {
		display: flex;

		white-space: nowrap;

		@include media.hover {
			&:hover {
			}
		}
	}

	&.--show {
		& .dropdown__menu {
			@include media.min(md) {
				visibility: visible;
				opacity: 100%;

				pointer-events: all;
			}

			@include media.max(md) {
				display: block;
			}
		}
	}
}
