@use 'src/styles/utils/forwards' as *;
@use 'src/styles/mixins/adaptive' as *;
@use 'src/styles/mixins/icon';
@use 'src/styles/mixins/media';

$_offset-x-max: 10;
$_offset-x-min: 10;
$_offset-y-max: 50;
$_offset-y-min: 10;

$_content-between-max: 0;
$_content-between-min: 0;

$_btn-close-top: 0;
$_btn-close-right: 0;

$_animation-delay: 0.3s;
$_bezier: cubic-bezier(0, 0, 0.5, 1);

.modal {
	position: fixed;
	inset: 0;

	z-index: 100;

	display: none;

	&.--isShown {
		display: block;
	}

	//? When modal is hidden
	&[aria-hidden='true'] {
		& .modal__inner {
			animation: modal-on-hide $_animation-delay $_bezier;
		}
	}

	//? When modal is shown
	&[aria-hidden='false'] {
		.modal__overlay {
			visibility: visible;
			opacity: 1;
		}

		& .modal__inner {
			animation: modal-on-show $_animation-delay $_bezier;
		}
	}

	&__scrollable {
		.modal__overlay {
			height: 100%;
		}

		.modal__inner {
			max-height: calc(100% - rem(20));

			@include media.min(sm) {
				max-height: calc(100% - rem($_offset-y-max));
			}
		}

		.modal__body {
			flex: 1 1 auto;
			overflow-y: auto;
		}
	}

	&:not(.modal__scrollable) {
		overflow-x: hidden;
		overflow-y: auto;
	}

	&__overlay {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100%;

		background: $backdrop;

		visibility: hidden;
		opacity: 0;

		transition: opacity $_animation-delay, visibility $_animation-delay;
	}

	&__inner {
		position: relative;

		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: rem(500);
		margin: rem($_offset-y-min) rem($_offset-x-min);
		overflow: hidden;

		background: $white;

		// > [class^='modal__']:not(:last-child) {
		// 	@include adaptive('margin-bottom', $_content-between-max, $_content-between-min);
		// }

		@include media.min(sm) {
			margin: rem($_offset-y-max) rem($_offset-x-max);
		}
	}

	&__close {
		@include icon.cross($size: 32, $width: 2, $color: $gray, $radius: 2);
		position: absolute;
		top: rem($_btn-close-top);
		right: rem($_btn-close-right);

		padding: rem(8);

		&:before,
		&:after {
			width: 60%;
		}

		@include media.hover {
			&:hover {
				&:before,
				&:after {
					background: $black;
				}
			}
		}
	}
}

@keyframes modal-on-show {
	from {
		transform: translateY(20%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes modal-on-hide {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10%);
	}
}
