@use 'sass:map';
@use 'src/styles/utils/forwards' as *;
@use 'src/styles/mixins/media';

$_btn-control-between: rem(0);
$_btn-num-between: rem(0);
$_btn-padding: rem(0) rem(0);

$_content-padding: rem(0) rem(0);

$_controll-content-between: null;

.pagination {
	display: flex;
	justify-content: center;

	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: $_content-padding;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__item {
		&:first-child {
			margin-right: $_btn-control-between;
		}

		&:last-child {
			margin-left: $_btn-control-between;
		}

		&:not(:first-child, :last-child) {
			margin-right: $_btn-num-between;
		}
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		padding: $_btn-padding;

		color: inherit;
		line-height: 1;

		fill: inherit;

		&:disabled,
		&.--disabled {
			cursor: default;
		}

		&.--current {
			color: $accent;
		}

		// If controllers use both text and icon
		@if $_controll-content-between {
			&-content:first-child {
				margin-right: $_controll-content-between;
			}
		}

		@include media.hover {
			&:not(:disabled, .--disabled):hover {
				color: $accent;

				fill: $accent;
			}
		}
	}

	&__dots {
		color: inherit;
	}
}
