@use 'sass:map';
@use 'utils/forwards' as *;
@use 'mixins/adaptive' as *;
@use 'mixins/media';

$_header-padding-x-max: 0;
$_header-padding-x-min: 0;
$_header-padding-y-max: 0;
$_header-padding-y-min: 0;

$_btn-padding-x-max: 0;
$_btn-padding-x-min: 0;
$_btn-padding-y-max: 0;
$_btn-padding-y-min: 0;

$_content-padding-x-max: 0;
$_content-padding-x-min: 0;
$_content-padding-y-max: 0;
$_content-padding-y-min: 0;

.tabs {
	&__header {
		padding: $_header-padding-y-min $_header-padding-x-min;

		font-size: 0;

		@include media.min($main-breakpoint) {
			padding: $_header-padding-y-max $_header-padding-x-max;
		}
	}

	&__btn {
		padding: $_btn-padding-y-min $_btn-padding-x-min;

		@include media.hover {
			&:hover {
			}
		}

		@include media.min($main-breakpoint) {
			padding: $_btn-padding-y-max $_btn-padding-x-max;
		}

		&.--active {
		}
	}

	&__inner {
	}

	&__content {
		display: none;
		padding: $_content-padding-y-min $_content-padding-x-min;
		overflow: hidden;

		@include media.min($main-breakpoint) {
			padding: $_content-padding-y-max $_content-padding-x-max;
		}

		&.--active {
			display: block;
		}
	}
}
