@use 'sass:map';
@use 'utils/forwards' as *;
@use 'mixins/media';

:focus-visible {
	box-shadow: 0 0 0 rem(4) rgb($accent, 50%);
}

.body {
	background-color: $background;

	&.--lock {
		overflow: hidden;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.container {
	max-width: rem($container);
	margin-right: auto;
	margin-left: auto;
	padding-right: rem($offsetMin);
	padding-left: rem($offsetMin);

	@include media.min(md) {
		padding-right: rem($offsetMax);
		padding-left: rem($offsetMax);
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat($column-count, 1fr);

	column-gap: rem($colGap-min);
	row-gap: rem($rowGap-min);

	@include media.min(md) {
		column-gap: rem($colGap-max);
		row-gap: rem($rowGap-max);
	}
}

.section-offset {
	padding-bottom: rem(50);
}

// Responsive image by FLS
.--ibg {
	position: relative;

	& img {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.icon {
	width: $icon-width;
	height: $icon-height;
}

.divider {
	width: 100%;
	height: rem(1);

	background: $gray;
}

/*
	This will hide the focus indicator if the element receives focus via the mouse,
	but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

.focus-visible {
	box-shadow: 0 0 0 rem(4) rgb($accent, 50%);
}
