@use 'utils/forwards' as *;
@use 'mixins/adaptive' as *;

.body {
	color: $body-color;
	font-weight: $body-fontWeight;
	@include adaptive('font-size', $body-fontSize-max, $body-fontSize-min);
	font-family: $body-fontFamily;
}

// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6 {
// 	color: $black;
// 	font-weight: 700;
// 	line-height: 130%;
// }

// .h1 {
// 	@include adaptive('font-size', 48, 32);
// }

// .h2 {
// 	@include adaptive('font-size', 32, 28);
// }

// .h3 {
// 	@include adaptive('font-size', 28, 24);
// }

// .h4 {
// 	@include adaptive('font-size', 24, 20);
// }

// .h5 {
// 	@include adaptive('font-size', 20, 16);
// }

// .h6 {
// 	@include adaptive('font-size', 16, 14);
// }
