@use 'utils/forwards' as *;
@use 'mixins/adaptive' as *;

.body {
	color: $body-color;
	font-weight: $body-fontWeight;
	@if $body-fontSize-max != $body-fontSize-min {
		@include adaptive('font-size', $body-fontSize-max, $body-fontSize-min);
	} @else {
		font-size: rem($body-fontSize-max);
	}
	font-family: $body-fontFamily;
}

// .h-xxl,
// .h-xl,
// .h-lg,
// .h-md,
// .h-sm,
// .h-xs {
// 	font-weight: 700;
// 	line-height: 120%;
// }

// .h-xxl {
// 	@include adaptive('font-size', 42, 36);
// }

// .h-xl {
// 	@include adaptive('font-size', 36, 32);
// }

// .h-lg {
// 	@include adaptive('font-size', 32, 28);
// }

// .h-md {
// 	@include adaptive('font-size', 28, 24);
// }

// .h-sm {
// 	@include adaptive('font-size', 24, 18);
// }

// .h-xs {
// 	@include adaptive('font-size', 18, 16);
// }
