@use 'functions/convert' as *;

//? Layout
// ================================
//? Container
$container: 1320;
$offset:    16;

//? Media breakpoints
$breakpoints: (
	xs:  0,
	sm:  576,
	md:  768,
	lg:  992,
	xl:  1200,
	xxl: 1400,
);

//? Grid
$gap:        20;
$rowGap-max: 30;
$rowGap-min: 20;
// ================================

//? Apperance
// ================================

//? Colors
$white: hsl(  0deg   0% 100%);
$black: hsl(  0deg   0%   0%);

//? Body
$fontSize:   16;
$fontFamily: 'Inter', sans-serif;
$fontWeight: 400;
$color:      $black;
$background: $white;
$lineHeight: 1.3;

//? Misc
$backdropBg:     hsl(0deg 0% 0% / 70%);
$backdropZIndex: 1000;
$focus-color:    $black;
$focus-width:    4;
$icon-size:      rem(16);
// ================================