// Pseudo / Start
* {
    margin: 0;
    padding: 0;

    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

// Scrollbar width
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-resizer {
    display: none;
}

// Scrollbar handle
::-webkit-scrollbar-thumb {
    // background: $scrollBar;
    border-radius: 10px;
}

:focus,
:active {
    outline: none;
}

// Scrollbar handle on hover
::-webkit-scrollbar-thumb:hover {
    // background: $scrollBarHover;
    // background: $scrollBarHover;
}
// Pseudo / End

// Tags / Start
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100%;

    color: $black;
    font-size: $fontSize_primary;
    font-family: $fontFamily_primary;
    line-height: $lineHeight_primary;

	@include theme($themes) {
		background: get-theme('background__primary');
	}

    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    // Open dropdown menu in a PC devices
    &.--pc .menu__list > .menu__item:hover .menu__sub-list {
        transform: translate(0, 0);
        visibility: visible;
        opacity: 1;

        pointer-events: all;
    }

    // Lock body at open burger
    &.--lock {
        overflow: hidden;
    }
}

a {
    // color: inherit;
    text-decoration: none;

    &:hover,
    &:visited {
        text-decoration: none;
    }

    &:focus,
    &:active {
        outline: none;
    }
}

input,
button,
textarea {
    font-family: $fontFamily-primary;
}

button {
    cursor: pointer;

    &:-moz-focus-inner {
        padding: 0;

        border: 0;
    }
}

input::-ms-clear {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

input[type='email'],
input[type='text'],
input[type='tel'],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea.input {
    padding: 0 0;

    resize: none;
}
// Tags / End

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

.container {
    margin: 0 auto;

    // > 576px
    @include media-max(sm) {
        max-width: mxwContainer(fluid);
        padding: $fields !important;
    }

    // < 576px
    @include media-min(sm) {
        max-width: mxwContainer(sm);
    }

    // < 768px
    @include media-min(md) {
        max-width: mxwContainer(md);
    }

    // < 992px
    @include media-min(lg) {
        max-width: mxwContainer(lg);
    }

    // < 1200px
    @include media-min(xl) {
        max-width: mxwContainer(xl);
    }

    // < 1400px
    @include media-min(xxl) {
        max-width: mxwContainer(xxl);
    }
}

// by FLS
// Responsive image
.--ibg {
    position: relative;

    & img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
