// Tags / Start
* {
    margin: 0;
    padding: 0;

    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100%;

    color: $black;
    font-size: $font-size-base;
    font-family: $font-family-primary;

    background: $bg;

    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    // Lock body at open burger
    &.--lock {
        overflow: hidden;
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:visited {
        text-decoration: none;
    }

    &:focus,
    &:active {
        outline: none;
    }
}

button {
    cursor: pointer;

    &:-moz-focus-inner {
        padding: 0;

        border: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}
// Tags / End

// Pseudo / Start
// stylelint-disable no-descending-specificity

// width
::-webkit-scrollbar {
    width: 8px;
}

// Handle
::-webkit-scrollbar-thumb {
    background: $scrollBar;
    border-radius: 10px;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
    background: $scrollBarHover;
}

::-webkit-resizer {
    display: none;
}

// stylelint-enable no-descending-specificity
// Pseudo / End

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;

    // > 576px
    @include media-max(sm) {
        max-width: mxwContainer(fluid);
        padding: $fields !important;
    }

    // < 576px
    @include media-min(sm) {
        max-width: mxwContainer(sm);
    }

    // < 768px
    @include media-min(md) {
        max-width: mxwContainer(md);
    }

    // < 992px
    @include media-min(lg) {
        max-width: mxwContainer(lg);
    }

    // < 1200px
    @include media-min(xl) {
        max-width: mxwContainer(xl);
    }

    // < 1400px
    @include media-min(xxl) {
        max-width: mxwContainer(xxl);
    }
}
