* {
	margin: 0;
	padding: 0;

	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

:focus-visible {
	box-shadow: state(focus);
}

html,
body {
	height: 100%;
}

body {
	color: body(color);
	@include adaptive('font-size', body(font-size, max), body(font-size, min));
	font-family: body(font-family);

	background: body(background);
	text-size-adjust: 100%;

	&.--lock {
		overflow: hidden;
	}
}

input,
button,
textarea {
	font-family: body(font-family);
}

input::-ms-clear {
	display: none;
}

input[type='email'],
input[type='text'],
input[type='tel'],
textarea {
	appearance: none;
}

textarea.input {
	padding: 0;

	resize: none;
}

button {
	font-family: inherit;

	background: transparent;
	cursor: pointer;

	&:-moz-focus-inner {
		padding: 0;

		border: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;

	&:hover,
	&:visited {
		text-decoration: none;
	}

	&:focus,
	&:active {
		outline: none;
	}
}

img {
	vertical-align: top;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.container {
	max-width: rem($container);
	margin-right: auto;
	margin-left: auto;
	padding-right: rem($offsetMin);
	padding-left: rem($offsetMin);

	@include media-min(md) {
		padding-right: rem($offsetMax);
		padding-left: rem($offsetMax);
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat($column_count, 1fr);

	column-gap: rem($colGap_min);
	row-gap: rem($rowGap_min);

	@include media-min(lg) {
		column-gap: rem($colGap_max);
		row-gap: rem($rowGap_max);
	}
}

// Responsive image by FLS
.--ibg {
	position: relative;

	& img {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.icon {
	width: $icon_width;
	height: $icon_height;
}

/*
	This will hide the focus indicator if the element receives focus via the mouse,
	but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

.focus-visible {
	box-shadow: state(focus);
}
