$white: #fff;
$black: #000;

// Primary
$primary: (
	100: #EAEFF4,
	200: #D7DFEA,
	300: #A9B2C0,
	400: #6E7581,
	500: #25282E,
	600: #1B1E27,
	700: #121621,
	800: #0B0F1A,
	900: #070A16,
);

// Secondary
$secondary: (
	100: #F3F7F8,
	200: #E8EEF1,
	300: #C9D1D5,
	400: #A0A7AC,
	500: #6B7176,
	600: #4E5965,
	700: #354354,
	800: #222F44,
	900: #142038,
);

// Accent
$accent: (
	100: #E8DAFE,
	200: #CFB6FE,
	300: #B391FC,
	400: #9C76FA,
	500: #7749F8,
	600: #5B35D5,
	700: #4224B2,
	800: #2D178F,
	900: #1E0E77,
);

// Success
$success: (
	100: #D6FCD4,
	200: #AAF9AE,
	300: #7CED8D,
	400: #59DB79,
	500: #29C45F,
	600: #1DA85B,
	700: #148D56,
	800: #0D714D,
	900: #075E47,
);

// Warning
$warning: (
	100: #FEF8D8,
	200: #FEF0B2,
	300: #FEE58B,
	400: #FDDA6E,
	500: #FCC93F,
	600: #D8A52E,
	700: #B5841F,
	800: #926514,
	900: #784F0C,
);

// Error
$error: (
	100: #FFE7D6,
	200: #FFC9AD,
	300: #FFA483,
	400: #FF8165,
	500: #FF4732,
	600: #DB2824,
	700: #B71922,
	800: #930F22,
	900: #7A0922,
);

// Info
$info: (
	100: #CBEFFD,
	200: #98DBFC,
	300: #64BFF7,
	400: #3EA3F0,
	500: #0378E6,
	600: #025CC5,
	700: #0145A5,
	800: #003085,
	900: #00226E,
);

// Gray
$gray: (
	100: #F8F9FA,
	200: #e9ecef,
	300: #dee2e6,
	400: #ced4da,
	500: #adb5bd,
	600: #6c757d,
	700: #495057,
	800: #343a40,
	900: #212529,
);

// Light
$light: (
	1: #F8F9FA,
	2: #E2E6EA,
);

// Dark
$dark: (
	1: #343A40,
	2: #23272B,
);

// Typography
$typography: (
	default:    $black,
	headline:   $black,
	subheading: $black,
	title:      $black,
	subtitle:   $black,
	text:       $black,
);

$switcher: (
	ball: #191a25,
	body: #fff,
	border: none,
);

$themes: (
	light: (
		// Primary
		primary-100: primary(100),
		primary-200: primary(200),
		primary-300: primary(300),
		primary-400: primary(400),
		primary-500: primary(500),
		primary-600: primary(600),
		primary-700: primary(700),
		primary-800: primary(800),
		primary-900: primary(900),

		// Secondary
		secondary-100: secondary(100),
		secondary-200: secondary(200),
		secondary-300: secondary(300),
		secondary-400: secondary(400),
		secondary-500: secondary(500),
		secondary-600: secondary(600),
		secondary-700: secondary(700),
		secondary-800: secondary(800),
		secondary-900: secondary(900),

		// Accent
		accent-100: accent(100),
		accent-200: accent(200),
		accent-300: accent(300),
		accent-400: accent(400),
		accent-500: accent(500),
		accent-600: accent(600),
		accent-700: accent(700),
		accent-800: accent(800),
		accent-900: accent(900),

		// Success
		success-100: success(100),
		success-200: success(200),
		success-300: success(300),
		success-400: success(400),
		success-500: success(500),
		success-600: success(600),
		success-700: success(700),
		success-800: success(800),
		success-900: success(900),

		// Warning
		warning-100: warning(100),
		warning-200: warning(200),
		warning-300: warning(300),
		warning-400: warning(400),
		warning-500: warning(500),
		warning-600: warning(600),
		warning-700: warning(700),
		warning-800: warning(800),
		warning-900: warning(900),

		// Error
		error-100: error(100),
		error-200: error(200),
		error-300: error(300),
		error-400: error(400),
		error-500: error(500),
		error-600: error(600),
		error-700: error(700),
		error-800: error(800),
		error-900: error(900),

		// Info
		info-100: info(100),
		info-200: info(200),
		info-300: info(300),
		info-400: info(400),
		info-500: info(500),
		info-600: info(600),
		info-700: info(700),
		info-800: info(800),
		info-900: info(900),

		// Typography
		headline:   typography(headline),
		subheading: typography(subheading),
		title:      typography(title),
		subtitle:   typography(subtitle),
		text:       typography(text),

		// States
		hover:    states(hover),
		active:   states(active),
		focus:    states(focus),
		disabled: states(disabled),

		switcher-ball: switcher(ball),
		switcher-body: switcher(body),
		switcher-border: switcher(border),
	),

	dark: (
		// Primary
		primary-100: #EAEFF4,
		primary-200: #D7DFEA,
		primary-300: #A9B2C0,
		primary-400: #6E7581,
		primary-500: #25282E,
		primary-600: #1B1E27,
		primary-700: #121621,
		primary-800: #0B0F1A,
		primary-900: #070A16,

		// Secondary
		secondary-100: #fff,
		secondary-200: #fff,
		secondary-300: #fff,
		secondary-400: #fff,
		secondary-500: #fff,
		secondary-600: #fff,
		secondary-700: #fff,
		secondary-800: #fff,
		secondary-900: #fff,

		// Accent
		accent-100: #E1DFFF,
		accent-200: #C4BFFF,
		accent-300: #A6A0FF,
		accent-400: #8F88FF,
		accent-500: #6961FF,
		accent-600: #4D46DB,
		accent-700: #3630B7,
		accent-800: #231E93,
		accent-900: #15127A,

		// Success
		success-100: #D6FCD4,
		success-200: #AAF9AE,
		success-300: #7CED8D,
		success-400: #59DB79,
		success-500: #29C45F,
		success-600: #1DA85B,
		success-700: #148D56,
		success-800: #0D714D,
		success-900: #075E47,

		// Warning
		warning-100: #FEF8D8,
		warning-200: #FEF0B2,
		warning-300: #FEE58B,
		warning-400: #FDDA6E,
		warning-500: #FCC93F,
		warning-600: #D8A52E,
		warning-700: #B5841F,
		warning-800: #926514,
		warning-900: #784F0C,

		// Error
		error-100: #FFE7D6,
		error-200: #FFC9AD,
		error-300: #FFA483,
		error-400: #FF8165,
		error-500: #FF4732,
		error-600: #DB2824,
		error-700: #B71922,
		error-800: #930F22,
		error-900: #7A0922,

		// Info
		info-100: #D7F3FE,
		info-200: #B0E4FE,
		info-300: #88D1FE,
		info-400: #6BBDFD,
		info-500: #3A9EFC,
		info-600: #2A7BD8,
		info-700: #1D5CB5,
		info-800: #124092,
		info-900: #0B2D78,

		// Typography
		headline:   #fff,
		subheading: #fff,
		title:      #fff,
		subtitle:   #fff,
		text:       #fff,

		// States
		hover:    #fff,
		active:   #fff,
		focus:    #fff,
		disabled: #fff,

		switcher-ball: #191a25,
		switcher-body: #fff,
		switcher-border: none,
	),
);