.headline {
	color: typography(headline);

	//* If using Light/Dark theme
	// @include theme($themes) {
	// 	color: get-theme('headline');
	// }

	font-weight: font-weight(headline);
	@include adaptive-value('font-size', 16, 14, 3);
	font-family: $fontFamilyPrimary;
	// @include adaptive-value('line-height', 32, 24, 3);
}

.subheading {
	color: typography(subheading);

	//* If using Light/Dark theme
	// @include theme($themes) {
	// 	color: get-theme('subheading');
	// }

	font-weight: font-weight(subheading);
	@include adaptive-value('font-size', 16, 14, 3);
	// @include adaptive-value('line-height', 28, 20, 3);
	font-family: $fontFamilyPrimary;
}

.title {
	color: typography(title);

	//* If using Light/Dark theme
	// @include theme($themes) {
	// 	color: get-theme('title');
	// }

	font-weight: font-weight(title);
	@include adaptive-value('font-size', 16, 14, 3);
	font-family: $fontFamilyPrimary;
	// @include adaptive-value('line-height', 24, 18, 3);
}

.subtitle {
	color: typography(subtitle);

	//* If using Light/Dark theme
	// @include theme($themes) {
	// 	color: get-theme('subtitle');
	// }

	font-weight: font-weight(subtitle);
	@include adaptive-value('font-size', 16, 14, 3);
	font-family: $fontFamilyPrimary;
	// @include adaptive-value('line-height', 24, 18, 3);
}

.text {
	color: typography(text);

	//* If using Light/Dark theme
	// @include theme($themes) {
	// 	color: get-theme('text');
	// }

	font-weight: font-weight(default);
	@include adaptive-value('font-size', 16, 14, 3);
	font-family: $fontFamilyPrimary;
	// @include adaptive-value('line-height', 22, 18, 3);
}
