// Breakpoints / Start
$breakpoints: (
	xs:                      320px,
	sm:                      576px,
	md:                      768px,
	lg:                      992px,
	xl:                      1200px,
	xxl:                     1400px,
);

$containerMaxWidth: (
	sm:                      get-breakpoint(sm) - 30px,
	md:                      get-breakpoint(md) - 30px,
	lg:                      get-breakpoint(lg) - 40px,
	xl:                      get-breakpoint(xl) - 60px,
	xxl:                     get-breakpoint(xxl) - 80px,
	fluid:                   100%,
);

$fields:                     0 15px;
// Breakpoints / End

// z-layers
$z-layers: (
	default:                 1,
	header:                  10,
	dropdown:                50,
	modal:                   100,
);

// Typography / Start
// Base
$fontSizePrimary:           14px;
$lineHeightPrimary:         1;
$fontFamilyPrimary:         'Montserrat', sans-serif;
$fontFamilySecondary:       'Nunito', sans-serif;

// Headline
$headlineWeight:           700;
$headlineSize:             16px;

// Subheading
$subheadingWeight:         500;
$subheadingSize:           16px;
$subheadingLineHeight:     $lineHeightPrimary;

// Title
$titleWeight:              500;
$titleSize:                16px;

// Subtitle
$subtitleWeight:           500;
$subtitleSize:             16px;
$subtitleLineHeight:       $lineHeightPrimary;

// Text
$textSize:                 16px;
$textLineHeight:           $lineHeightPrimary;
// Typography / End