// z-layers
$z_layers: (
	default:  1,
	logo:     5,
	header:   15,
	dropdown: 50,
	popup:    100,
);

$radius: (
	xs: rem(2),
	sm: rem(4),
	md: rem(6),
	lg: rem(8),
	xl: rem(16),
);

$fontFamily_primary:   'Inter', sans-serif;
$fontFamily_secondary: 'Nunito', sans-serif;

$focus_primary:   0 0 0 rem(4) color.adjust(primary(500), $alpha: -0.75);
$focus_secondary: 0 0 0 rem(4) color.adjust(secondary(500), $alpha: -0.75);
$focus_text:      0 0 0 rem(4) color.adjust(primary(500), $alpha: -0.75);

$icon_width: rem(16);
$icon_height: $icon_width;

// COMPONENTS
// ==========

// Breadcrumbs
$breadcrumbs_width_divider:    rem(10);
$breadcrumbs_height_divider:   rem(2);
$breadcrumbs_padding:          rem(5) rem(15);
$breadcrumbs_padding_link:     rem(5) 0;
$breadcrumbs_padding_link_max: 20;
$breadcrumbs_padding_link_min: 10;
$breadcrumbs_color:            gray(600);
$breadcrumbs_color_current:    gray(500);
$breadcrumbs_fontWeight:       600;
$breadcrumbs_fontSize_max:     18;
$breadcrumbs_fontSize_min:     16;
$breadcrumbs_letterSpacing:    rem(1);
$breadcrumbs_transition:       0.1s;

// Button
$btn_margin_icon_max:   12;
$btn_margin_icon_min:   8;
$btn_padding_y_max:     10;
$btn_padding_y_min:     8;
$btn_padding_x_max:     25;
$btn_padding_x_min:     20;
$btn_padding_icon_max:  14;
$btn_padding_icon_min:  11;
$btn_outline_width:     2;
$btn_color:             $white;
$btn_fontWeight:        600;
$btn_fontSize_max:      18;
$btn_fontSize_min:      16;
$btn_letterSpacing:     rem(1);
$btn_borderRadius:      radius(sm);
$btn_borderRadius_icon: radius(xxl);
$btn_transition:        0.1s;

// Group button
$btn_group_padding:            rem(10) rem(15);
$btn_group_borderRadius_first: radius(sm) 0 0 radius(sm);
$btn_group_borderRadius_last:  0 radius(sm) radius(sm) 0;
