//? ### Variant: Column

&.col {
	display: flex;
	flex-direction: column;
	grid-column: 12 span;
	overflow: hidden;

	@include media-min(sm) {
		grid-column: 6 span;
	}

	@include media-min(lg) {
		grid-column: 4 span;
	}

	@include media-min(xl) {
		grid-column: 3 span;
	}

	& .card__inner {
		height: 100%;
		@include adaptive('padding-top', $content_padding_y_max, $content_padding_y_min);
		@include adaptive('padding-right', $content_padding_x_max, $content_padding_x_min);
		@include adaptive('padding-bottom', $content_padding_y_max, $content_padding_y_min);
		@include adaptive('padding-left', $content_padding_x_max, $content_padding_x_min);
	}
}
