//? ### Variant: Column

&.col {
	display: flex;
	flex-direction: column;
	grid-column: 12 span;
	overflow: hidden;

	@include media-min(sm) {
		grid-column: 6 span;
	}

	@include media-min(lg) {
		grid-column: 4 span;
	}

	@include media-min(xl) {
		grid-column: 3 span;
	}

	& > [class*='card__'] {
		&:not([class*='preview']) {
			//? Padding-x for card item (Exclude .card__preview)
			@include adaptive('padding-right', $content_padding_x_max, $content_padding_x_min);
			@include adaptive('padding-left', $content_padding_x_max, $content_padding_x_min);

			//? Margin top for any card item (Exclude .card__preview)
			// &:first-child {
			// 	@include adaptive('margin-top', $content_padding_y_max, $content_padding_y_min);
			// }

			//? Margin bottom for any card item (Exclude .card__preview)
			&:last-child {
				@include adaptive('margin-bottom', $content_padding_y_max, $content_padding_y_min);
			}
		}

		//? Margin between card items
		&:not(:last-child) {
			@include adaptive('margin-bottom', $content_between_max, $content_between_min);
		}
	}
}
