//? ### Variant: Column

&.col {
	display: flex;
	flex-direction: column;
	grid-column: 12 span;

	overflow: hidden;

	@include media-min(md) {
		grid-column: 6 span;
	}

	@include media-min(lg) {
		grid-column: 4 span;
	}

	@include media-min(xl) {
		grid-column: 3 span;
	}

	& > [class*='card__'] {
		// Padding-x for card item (Exclude .card__preview)
		&:not([class*='preview']) {
			@include adaptive('padding-right', $item_padding_x_max, $item_padding_x_min, 1);
			@include adaptive('padding-left', $item_padding_x_max, $item_padding_x_min, 1);
		}

		// Gap between card items
		&:not(:last-child) {
			@include adaptive('margin-bottom', $item_margin_max, $item_margin_min, 1);
		}
	}

	// Padding top if card__header comes first
	& .card__header:first-child {
		@include adaptive('padding-top', $item_padding_y_max, $item_padding_y_min, 1);
	}

	// Padding bottom if card__footer comes last
	& .card__footer:last-child {
		@include adaptive('padding-bottom', $item_padding_y_max, $item_padding_y_min, 1);
	}

	.card__preview {
		@include media-minmax(sm, md) {
			min-height: rem(300);
		}
	}
}
