//? ### Variant: Row

&.row {
	display: grid;
	grid-column: 12 span;
	grid-template-columns: repeat(12, 1fr);

	@include media.min(lg) {
		grid-column: 6 span;
	}

	.card__preview {
		grid-column: 12 span;

		@include media.min(sm) {
			grid-column: 5 span;
		}
	}

	& .card__inner {
		grid-column: 12 span;
		@include adaptive('padding-top', $-content_padding_y_max, $-content_padding_y_min);
		@include adaptive('padding-right', $-content_padding_x_max, $-content_padding_x_min);
		@include adaptive('padding-bottom', $-content_padding_y_max, $-content_padding_y_min);
		@include adaptive('padding-left', $-content_padding_x_max, $-content_padding_x_min);

		@include media.min(sm) {
			grid-column: 7 span;
		}
	}
}
