//? ### Variant: Row

&.row {
	display: grid;
	grid-column: 12 span;
	grid-template-columns: repeat(12, 1fr);
	@include adaptive('gap', $item_padding_x_max, $item_padding_x_min, 1);

	@include media-min(lg) {
		grid-column: 6 span;
	}

	.card__preview {
		grid-column: 12 span;

		@include media-min(sm) {
			grid-column: 5 span;
		}
	}
}

& &__inner {
	// Padding left if card__inner comes first
	&:first-child {
		@include adaptive('padding-left', $item_padding_x_max, $item_padding_x_min, 1);
	}

	// Padding right if card__inner comes last
	&:last-child {
		@include adaptive('padding-right', $item_padding_x_max, $item_padding_x_min, 1);
	}
}

&__inner {
	display: flex;
	flex-direction: column;
	grid-column: 12 span;
	@include adaptive('padding-top', $item_padding_y_max, $item_padding_y_min, 1);
	@include adaptive('padding-bottom', $item_padding_y_max, $item_padding_y_min, 1);

	@include media-max(sm) {
		@include adaptive('padding-right', $item_padding_x_max, $item_padding_x_min, 1);
		@include adaptive('padding-left', $item_padding_x_max, $item_padding_x_min, 1);
	}

	@include media-min(sm) {
		grid-column: 7 span;
	}

	// Gap between card items
	& > [class*='card__']:not(:last-child) {
		@include adaptive('margin-bottom', $item_margin_max, $item_margin_min, 1);
	}
}
