.btn {
	display: inline-flex;
	align-items: center;
	overflow: hidden;

	color: $white;

	font-weight: $btn_fontWeight;
	@include adaptive('font-size', $btn_fontSize_max, $btn_fontSize_min, 1);
	font-family: $fontFamily_secondary;
	letter-spacing: $btn_letterSpacing;
	white-space: nowrap;
	text-align: center;
	text-transform: none;
	text-overflow: ellipsis;
	vertical-align: middle;

	background-image: none;
	border-radius: $btn_borderRadius;
	cursor: pointer;

	transition: $btn_transition;

	user-select: none;

	// Primary button
	&__primary {
		@include adaptive('padding-top', $btn_padding_y_max, $btn_padding_y_min, 1);
		@include adaptive('padding-right', $btn_padding_x_max, $btn_padding_x_min, 1);
		@include adaptive('padding-bottom', $btn_padding_y_max, $btn_padding_y_min, 1);
		@include adaptive('padding-left', $btn_padding_x_max, $btn_padding_x_min, 1);

		color: $white;

		background-color: primary(500);

		@include media-min(lg) {
			&:hover {
				background-color: primary(600);
			}

			&:active {
				background-color: primary(700);
			}

			&:focus-visible {
				background-color: primary(600);
				box-shadow: $focus_primary;
			}
		}

		&.--disabled,
		&:disabled {
			background-color: primary(200);
			cursor: not-allowed;
		}

		.icon {
			fill: $white;
		}
	}

	// Secondary button
	&__secondary {
		@include adaptive('padding-top', $btn_padding_y_max, $btn_padding_y_min, 1);
		@include adaptive('padding-right', $btn_padding_x_max, $btn_padding_x_min, 1);
		@include adaptive('padding-bottom', $btn_padding_y_max, $btn_padding_y_min, 1);
		@include adaptive('padding-left', $btn_padding_x_max, $btn_padding_x_min, 1);

		color: secondary(500);

		background: transparent;

		@include media-min(lg) {
			&:hover {
				color: $white;

				background-color: secondary(500);

				input[type='button'] {
					color: $white;
				}

				.icon {
					fill: $white;
				}
			}

			&:active {
				background-color: secondary(600);
				outline: rem($btn_outline_width) solid secondary(600);
			}

			&:focus-visible {
				box-shadow: $focus_secondary;
			}
		}

		&.--disabled,
		&:disabled {
			color: secondary(300);

			background: none;
			outline: rem($btn_outline_width) solid secondary(300);
			cursor: not-allowed;
		}

		input[type='button'] {
			color: secondary(500);
		}

		.icon {
			fill: secondary(500);
		}
	}

	// Text button
	&__text {
		@include adaptive('padding-top', $btn_padding_y_max, $btn_padding_y_min, 1);
		@include adaptive('padding-right', $btn_padding_x_max, $btn_padding_x_min, 1);
		@include adaptive('padding-bottom', $btn_padding_y_max, $btn_padding_y_min, 1);
		@include adaptive('padding-left', $btn_padding_x_max, $btn_padding_x_min, 1);

		color: primary(500);

		background: transparent;

		@include media-min(lg) {
			&:hover {
				background-color: color.adjust(primary(500), $alpha: -0.9);
			}

			&:active {
				background-color: color.adjust(primary(500), $alpha: -0.85);
			}

			&:focus-visible {
				box-shadow: $focus_text;
			}
		}

		&.--disabled,
		&:disabled {
			color: primary(200);

			background: none;

			cursor: not-allowed;
		}

		input[type='button'] {
			color: primary(500);
		}

		.icon {
			fill: primary(500);
		}
	}

	// Icon button
	&__icon {
		display: inline-flex;

		background-image: none;
		cursor: pointer;

		transition: $btn_transition;

		user-select: none;

		// Icon primary button
		&-primary {
			@include adaptive('padding', $btn_padding_icon_max, $btn_padding_icon_min, 1);

			background-color: primary(500);

			@include media-min(lg) {
				&:hover {
					background-color: primary(600);
				}

				&:active {
					background-color: primary(700);
				}

				&:focus-visible {
					background-color: primary(600);
					box-shadow: $focus_primary;
				}
			}

			&.--disabled,
			&:disabled {
				background-color: primary(200);
				cursor: not-allowed;
			}

			.icon {
				fill: $white;
			}
		}

		// Icon secondary button
		&-secondary {
			@include adaptive('padding', $btn_padding_icon_max, $btn_padding_icon_min, 1);

			outline: rem($btn_outline_width) solid secondary(500);
			outline-offset: rem(-$btn_outline_width);

			@include media-min(lg) {
				&:hover {
					color: $white;

					background-color: secondary(500);
					outline: rem($btn_outline_width) solid secondary(500);

					.icon {
						fill: $white;
					}
				}

				&:active {
					background-color: secondary(600);
					outline: rem($btn_outline_width) solid secondary(600);
				}

				&:focus-visible {
					box-shadow: $focus_secondary;
				}
			}

			&.--disabled,
			&:disabled {
				background: none;
				outline: rem($btn_outline_width) solid secondary(300);
				cursor: not-allowed;

				.icon {
					fill: secondary(300);
				}
			}

			.icon {
				fill: secondary(500);
			}
		}

		// Icon text button
		&-text {
			@include adaptive('padding', $btn_padding_icon_max, $btn_padding_icon_min, 1);

			@include media-min(lg) {
				&:hover {
					background-color: color.adjust(primary(500), $alpha: -0.9);
				}

				&:active {
					background-color: color.adjust(primary(500), $alpha: -0.85);
				}

				&:focus-visible {
					box-shadow: $focus_text;
				}
			}

			&.--disabled,
			&:disabled {
				color: primary(300);

				background: none;

				cursor: not-allowed;
			}

			.icon {
				fill: primary(500);
			}
		}
	}

	// Close button
	&__close {
		position: relative;

		display: block;
		width: rem(24);
		height: rem(24);

		cursor: pointer;

		&:before,
		&:after {
			position: absolute;
			left: 0;

			width: 100%;
			height: rem(3);

			background: secondary(600);

			content: '';
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	&__primary,
	&__secondary,
	&__text {
		.icon {
			@include adaptive('margin-left', $btn_margin_icon_max, $btn_margin_icon_min, 1);
		}
	}
}

// Group buttons
.btn-group {
	font-size: 0;

	&__item {
		position: relative;

		padding: $btn_group_padding;

		&:first-child {
			border-radius: $btn_group_borderRadius_first;
		}

		&:last-child {
			border-radius: $btn_group_borderRadius_last;
		}

		&:focus-visible {
			z-index: 2;
		}
	}
}
