.btn {
	align-items: center;
	overflow: hidden;

	font-weight: $btn_fontWeight;
	@include adaptive('font-size', $btn_fontSize_max, $btn_fontSize_min, 1);
	font-family: $fontFamily_secondary;
	letter-spacing: $btn_letterSpacing;
	white-space: nowrap;
	text-align: center;
	text-transform: none;
	text-overflow: ellipsis;

	border-radius: $btn_borderRadius;

	// Primary button
	&__primary {
		@include adaptive('padding-top', $btn_padding_y_max, $btn_padding_y_min, 1);
		@include adaptive('padding-right', $btn_padding_x_max, $btn_padding_x_min, 1);
		@include adaptive('padding-bottom', $btn_padding_y_max, $btn_padding_y_min, 1);
		@include adaptive('padding-left', $btn_padding_x_max, $btn_padding_x_min, 1);

		color: $btn_primary_color;
	}

	// Secondary button
	&__secondary {
		@include adaptive('padding-top', $btn_padding_y_max, $btn_padding_y_min, 1);
		@include adaptive('padding-right', $btn_padding_x_max, $btn_padding_x_min, 1);
		@include adaptive('padding-bottom', $btn_padding_y_max, $btn_padding_y_min, 1);
		@include adaptive('padding-left', $btn_padding_x_max, $btn_padding_x_min, 1);

		color: $btn_secondary_color;

		@include media-hover {
			&:hover {
				color: $btn_secondary_hover;

				input[type='button'] {
					color: $btn_secondary_hover;
				}
			}
		}

		&.--disabled {
			color: $btn_secondary_disabled;
		}

		input[type='button'] {
			color: $btn_secondary_color;
		}
	}

	// Text button
	&__text {
		@include adaptive('padding-top', $btn_padding_y_max, $btn_padding_y_min, 1);
		@include adaptive('padding-right', $btn_padding_x_max, $btn_padding_x_min, 1);
		@include adaptive('padding-bottom', $btn_padding_y_max, $btn_padding_y_min, 1);
		@include adaptive('padding-left', $btn_padding_x_max, $btn_padding_x_min, 1);

		color: $btn_text_color;

		&.--disabled {
			color: $btn_text_disabled;
		}

		input[type='button'] {
			color: $btn_text_color;
		}
	}

	// Icon button
	&-icon {
		@include adaptive('padding', $btn_icon_padding_max, $btn_icon_padding_min, 1);

		border-radius: $btn_icon_borderRadius;
	}

	&__primary,
	&__secondary,
	&__text {
		.icon {
			@include adaptive('margin-left', $btn_icon_margin_max, $btn_icon_margin_min, 1);
		}
	}

	// Group buttons container
	&__group {
		display: inline-flex;
		flex-wrap: wrap;

		font-size: 0;

		border-radius: $btn_borderRadius;

		.btn {
			border-radius: 0;

			&:first-child {
				border-radius: $btn_group_borderRadius_first;
			}

			&:last-child {
				border-radius: $btn_group_borderRadius_last;
			}
		}
	}
}

// btn & btn_icon
.btn,
.btn-icon {
	display: inline-flex;

	vertical-align: middle;

	background-image: none;
	cursor: pointer;

	transition: $btn_transition;

	user-select: none;
}

// Primary buttons
.btn__primary,
.btn-icon__primary {
	background: $btn_primary_background;

	@include media-hover {
		&:hover {
			background: $btn_primary_hover;
		}

		&:active {
			background: $btn_primary_active;
		}

		&:focus-visible {
			box-shadow: $btn_primary_focus;
		}
	}

	&.--disabled {
		background: $btn_primary_disabled;
		cursor: not-allowed;
	}

	.icon {
		fill: $btn_primary_color;
	}
}

// Secondary buttons
.btn__secondary,
.btn-icon__secondary {
	background: $btn_secondary_background;
	outline: rem($btn_outlineWidth) solid $btn_secondary_outline;
	outline-offset: rem(-$btn_outlineWidth);

	@include media-hover {
		&:hover {
			background: $btn_secondary_color;

			.icon {
				fill: $btn_secondary_hover;
			}
		}

		&:active {
			background: $btn_secondary_active;
			outline: rem($btn_outlineWidth) solid $btn_secondary_active;
		}

		&:focus-visible {
			box-shadow: $btn_secondary_focus;
		}
	}

	&.--disabled {
		background: none;
		outline: rem($btn_outlineWidth) solid $btn_secondary_disabled;
		cursor: not-allowed;

		.icon {
			fill: $btn_secondary_disabled;
		}
	}

	.icon {
		fill: $btn_secondary_color;
	}
}

// Text buttons
.btn__text,
.btn-icon__text {
	background: transparent;

	@include media-hover {
		&:hover {
			background: $btn_text_hover;
		}

		&:active {
			background: $btn_text_active;
		}

		&:focus-visible {
			box-shadow: $btn_text_focus;
		}
	}

	&.--disabled {
		background: none;

		cursor: not-allowed;

		.icon {
			fill: $btn_text_disabled;
		}
	}

	.icon {
		fill: $btn_text_color;
	}
}
