//? ### Button: text with icon

&[class*='btn__'] > .icon:first-child {
	@include adaptive('margin-right', 12, 8, 1);
}

&[class*='btn__'] > .icon:last-child {
	@include adaptive('margin-left', 12, 8, 1);
}

&__primary {
	&:disabled {
		.icon {
			// fill: $white;
		}
	}

	.icon {
		fill: $white;
	}
}

&__secondary {
	&:disabled {
		.icon {
			fill: secondary(200);
		}
	}

	.icon {
		fill: secondary(500);
	}

	@include media-hover {
		&:hover:enabled {
			.icon {
				fill: state(hover, secondary, color);
			}
		}
	}
}

&__light {
	&:disabled {
		.icon {
			fill: primary(200);
		}
	}

	.icon {
		fill: primary(500);
	}
}
