//? ### Button: text with icon

&[class*='btn__'] > .icon:first-child {
	@include adaptive('margin-right', 12, 8, 1);
}

&[class*='btn__'] > .icon:last-child {
	@include adaptive('margin-left', 12, 8, 1);
}

// .btn__solid > .icon
@include btn($element: 'solid', $fill: $white);

// .btn__outline > .icon
@include btn(
	$element: 'outline',
	$fill: accent(500),
	$fill_hover: accent(600),
	$fill_active: accent(400),
	$fill_disabled: accent(200)
);

// .btn__light > .icon
@include btn($element: 'light', $fill: accent(500), $fill_disabled: state(disabled, color));

// .btn__text > .icon
@include btn(
	$element: 'text',
	$fill: accent(500),
	$fill_hover: accent(600),
	$fill_active: accent(700),
	$fill_disabled: accent(200)
);
