<head>
	<!--* META -->
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<!-- <meta name='description' content=''> -->
	<!-- <meta name='keywords' content=''> -->
	<meta name='format-detection' content='telephone=no'/>
	<meta name='format-detection' content='address=no'/>
	<!-- <meta name='robots' content='noindex, nofollow'> -->
	<!-- <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'> -->

	<!--* TAB -->
	<title>@@title</title>
	<link rel='shortcut icon' href='assets/img/favicon.ico'>

	<!--* CSS -->
	<link rel='stylesheet' href='assets/css/style.min.css'>
</head>