.btn {
	display: inline-block;
	max-width: 100%;
	// padding: $padding-btn;
	overflow: hidden;

	color: $white;
	font-size: font-size(default, xl);
	font-family: inherit;
	line-height: line-height(default, xl);
	white-space: nowrap;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	text-overflow: ellipsis;
	vertical-align: middle;

	// background-color: $gray-lightest;
	background-image: none;
	// border: 1px solid $gray-lighter;
	border: 0;
	// border-radius: $border-radius;
	cursor: pointer;

	user-select: none;

	&:hover,
	&:focus {
		color: $white;
		text-decoration: none;

		background-color: darken($gray-lightest, 10%);
		// border-color: darken($gray-lighter, 12%);
	}

	// &:visited {
	//   color: $text-color;
	// }

	// &:active,
	// &:focus {
	// 	@include field-focus;
	// }

	&--disabled,
	&:disabled {
		color: $white;

		// background-color: ;
		cursor: not-allowed;
		opacity: $opacity;
		// border-color: $gray-lighter;

		@at-root a.btn--disabled {
			pointer-events: none;
		}
	}

	// &__icon {
	//   display: inline-block;
	//   vertical-align: middle;
	// }

	// &--main {
	//   color: #fff;
	//   background-color: $color-main;
	//   // border: 1px solid $color-main;

	//   &:hover,
	//   &:focus {
	//     color: #fff;
	//     background-color: darken($color-main, 10%);
	//     // border-color: darken($color-main, 12%);
	//   }

	//   &--disabled,
	//   &:disabled {
	//     color: #fff;
	//     background-color: $color-main;
	//     // border-color: $color-main;
	//   }
	// }
}
