@use 'src/styles/utils/forwards' as *;
@use 'src/styles/mixins/media';

$_size: rem(44);
$_line-height: rem(4);
$_line-bg: $body-color;
$_bezier: cubic-bezier(0.57, 0.21, 0.69, 1.25);

@include media.max(lg) {
	.burger {
		position: relative;
		z-index: 1;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: $_size;
		height: $_size;
		margin-left: auto;

		background: $white;

		user-select: none;

		span {
			position: relative;

			display: block;
			width: 100%;
			height: $_line-height;

			background: $_line-bg;

			transition: background 0.1s;

			&:before,
			&:after {
				position: absolute;
				left: 0;

				width: 100%;
				height: $_line-height;

				background: $_line-bg;
				transform-origin: 50% 50%;

				transition: top 0.1s 0.1s, transform 0.1s;

				content: '';
			}

			&:before {
				top: rem(-12);
			}

			&:after {
				top: rem(12);
			}
		}

		&.--show {
			span {
				background: transparent;

				transition: background 0.1s 0s $_bezier;

				&:before,
				&:after {
					top: 0;

					transition: top 0.1s $_bezier, transform 0.1s 0.1s $_bezier;
				}

				&:before {
					transform: rotate3d(0, 0, 1, 45deg);
				}

				&:after {
					transform: rotate3d(0, 0, 1, -45deg);
				}
			}
		}
	}
}
