//- === Tab mixins ===
//- ==================
//- Arguments:
	tabName {string} - Unique tab name
	prefix  {string} - Prefixes
	title   {string} - Tab button title


//- Call:
	+tab('products', 'shop')
		block buttons
			+tab-btn('Sweatshirt')

		block contents
			+tab-content
				[Any content]
//- ==============================

//- Tab
mixin tabs(tabName, prefix)
	-
		var allMods = '';
		if(typeof(prefix) !== 'undefined' && prefix) {
			var modsList = prefix.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = `${allMods} ${modsList[i].trim()}__tab`;
			}
		}

	.tabs(class=allMods, data-tab=tabName)&attributes(attributes)
		nav.tabs__menu(role='tablist')
			block buttons
		.tabs__wrapper
			block contents

//- Button
mixin tabs-btn(title)
	button.tabs__menu-btn(type='button')&attributes(attributes)= title

//- Content
mixin tabs-content
	.tabs__content(role='tabpanel')&attributes(attributes)
		block
