@use 'sass:math';

/// * Strip units from values.
///
/// @param {number|string} $num - Value to be stripped.
/// @return number
/// @source - https://github.com/minamarkham/sassy-starter/blob/master/src/scss/utilities/_functions.scss

@function strip-units($num) {
	@return math.div($num, ($num * 0 + 1));
}

/// * Convert px to rem.
///
/// @param {number|string} $target - Value to convert to rem.
/// @param {number|string} $context - The context the conversion is based on. Default: 16
/// @require {number|string} strip-units()
/// @return number
/// @source - https://github.com/minamarkham/sassy-starter/blob/master/src/scss/utilities/_functions.scss

@function rem($target, $context: 16) {
	@if not unitless($target) {
		$target: strip-units($target);
	}

	@if not unitless($context) {
		$context: strip-units($context);
	}

	@if $target == 0 {
		@return 0;
	}

	@return math.div($target, $context) + rem;
}

/// * Convert px to em.
///
/// @param {number|string} $target - Value to convert to em.
/// @param {number|string} $context - The context the conversion is based on. Default: 16
/// @require {number|string} strip-units()
/// @return number
/// @source - https://github.com/minamarkham/sassy-starter/blob/master/src/scss/utilities/_functions.scss

@function em($target, $context: 16) {
	@if not unitless($target) {
		$target: strip-units($target);
	}

	@if not unitless($context) {
		$context: strip-units($context);
	}

	@if $target == 0 {
		@return 0;
	}

	@return math.div($target, $context) + em;
}
