//- Arguments:
	title         {string} - Title
	icon          {string} - Icon name
	mods          {string} - Mod('s)
	btnCloseLabel {string} - Close button label (Default: 'Close popup')

//- Call:
	+popup({ title: 'Popup!', icon: 'success' })
		.popup__content
			p It's just a popup :3

		.popup__footer
			+btn({ text: 'Confirm', mods: 'primary' })
			+btn({ text: 'Cancel', mods: 'secondary' })

mixin popup(data)
	-
		let modsArray = '';

		if(typeof(data.mods) !== 'undefined' && data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} popup__${modsList[i].trim()}`;
			}
		}

	.popup(class=modsArray, tabindex='-1', aria-hidden='true')&attributes(attributes)
		.popup__inner(role='dialog', aria-modal='true')
			button.popup__close(aria-label=(data.btnCloseLabel = 'Close popup'), data-popup='close')
				+icon-mono('cross')

			if data.title
				.popup__header
					if data.icon
						.popup__icon
							+icon-mono(data.icon)

					.popup__title!= data.title

			block
