.popup {
	$close_pos_max: 25;
	$close_pos_in: 15;
	$icon_size: rem(35);

	position: fixed;
	top: 0;
	left: 0;
	z-index: zindex(popup);

	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;

	background: $overlay;
	visibility: hidden;
	opacity: 0;

	transition: opacity 0.3s, visibility 0.3s;

	&__inner {
		position: relative;

		width: 90%;
		margin: auto 0;
		@include adaptive('padding', 50, 25, 1);

		background: $white;
		border: $border;
		border-radius: radius(sm);
		transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
		opacity: 0;

		transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);

		@include media-min(md) {
			width: rem(540);
		}
	}

	&__close {
		position: absolute;
		@include adaptive('top', $close_pos_max, $close_pos_in, 1);
		@include adaptive('right', $close_pos_max, $close_pos_in, 1);

		padding: rem(5);

		font-size: 0;

		background: dark(1);
		border-radius: radius(sm);
		cursor: pointer;

		transition: $transition;

		fill: $white;

		@include media-hover {
			&:hover {
				background: dark(2);
			}

			// focus-visible polyfill
			&.focus-visible {
				box-shadow: state(focus, primary);
			}

			&:focus-visible {
				box-shadow: state(focus, primary);
			}
		}
	}

	&__header {
		text-align: center;

		& [class^='popup'] {
			margin-bottom: rem(15);
		}
	}

	&__icon {
		display: inline-flex;
		@include adaptive('padding', 35, 25, 1);

		background: success(100);
		border-radius: radius(circle);

		fill: success(500);

		.icon {
			width: $icon_size;
			height: $icon_size;
		}
	}

	&__title {
		color: dark(1);
		font-weight: 700;
		font-family: $fontFamily_secondary;
		@include adaptive('font-size', 36, 28, 1);
	}

	&__content {
		@include adaptive('margin-bottom', 30, 20, 1);

		text-align: center;
	}

	&__footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include adaptive('gap', 20, 10, 1);
	}

	&.--show {
		visibility: visible;
		opacity: 1;

		& .popup__inner {
			transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
			opacity: 1;
		}
	}
}
