//- Arguments:
	text  {string} - Badge content
	mods  {string} - Badge modificator

//- Call:
	+badge({}) - Empty badge
	+badge({ text: 'Badge', mods: 'solid' }) - Text badge

mixin badge(data)
	-
		let modsArray = '';

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} badge--${modsList[i].trim()}`;
			}
		}

	span.badge(class=modsArray)&attributes(attributes)!= data.text
