@import '../../styles/mixins/badge';

.badge {
	$badge_size: rem(14);

	display: inline-block;
	box-sizing: content-box;
	min-width: $badge_size;
	min-height: $badge_size;
	padding: em(6);

	font-size: $badge_size;
	line-height: 1;
	white-space: nowrap;
	text-align: center;

	border-radius: em(16);

	&:empty {
		width: rem(14);
		height: rem(14);
		padding: 0;

		background: color(accent, 500);
	}

	@include badge($element: 'solid', $color: $white, $bg: color(accent, 500));
}
