.badge {
	$dot_size: rem(10);
	$num_width: 1.5;
	$outline_size: rem(1);

	display: inline-flex;
	align-items: center;

	font: {
		weight: 700;
		size: rem(14);
		family: $fontFamily_secondary;
	}

	letter-spacing: $letterSpacing;

	&__dot {
		width: $dot_size;
		height: $dot_size;

		background: primary(500);
		border-radius: radius(circle);
	}

	&__num {
		box-sizing: content-box;

		min-width: $num_width + em;
		padding: em(4);

		color: $white;
		line-height: $num_width;
		text-align: center;

		background: primary(500);
		border-radius: radius(xxl);
	}

	&__text {
		padding: rem(2) rem(6);

		border-radius: radius(xxl);
	}

	&--solid {
		color: $white;

		background: primary(500);
	}

	&--outline {
		color: primary(500);

		outline: $outline_size solid primary(500);
		outline-offset: -$outline_size;
	}
}
