//- Arguments:
	text  {string}  - Badge content
	mods  {string}  - Badge modificator (solid / outline)
	isNum {boolean} - Indicates that the badge is numeric

//- Call:
	+badge({})                               - Dot badge
	+badge({ text: '99+', isNum: true })     - Numeric badge
	+badge({ text: 'Badge', mods: 'solid' }) - Text badge

mixin badge(data)
	-
		let modsArray = '';

		if (data.mods) {
			const modsList = data.mods.split(',');

			for (let i = 0; i < modsList.length; i++) {
				modsArray = `${modsArray} badge__text badge--${modsList[i].trim()}`;
			}
		}

	.badge&attributes(attributes)
		//- Dot badge
		if !data.text
			.badge__dot

		else
			span(class=data.isNum ? `badge__num` : modsArray)!= data.text
