@mixin badge(
	$element,
	$mod: null,
	$color: null,
	$bg: null,
	$border_width: null,
	$border_color: null
) {
	&__#{$element}#{$mod} {
		color: $color;

		background: $bg;
		@if $border_width {
			outline: $border_width solid $border_color;
			outline-offset: -$border_width;
		}
	}
}
