// Mixins
@import "../../includes/scss/mixins";

// Variables
@import "../../includes/scss/vars";

// Fonts
@import "../../includes/scss/fonts";

// Clear styles
@import "../../includes/scss/eraser";

body {
    color: #000000;
    font-size: 14px;
}

// General / Start

//  Wrapper
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

// Container
.container {
    max-width: $mxwContainer + px;
    margin: 0 auto;
    @media (max-width: $bp1+px) {
        max-width: 970px;
    }
    @media (max-width: $bp2+px) {
        max-width: 750px;
    }
    @media (max-width: $bp3+px) {
        max-width: none;
        padding: 0 10px;
    }
}

// General / End

// Header
@import "../../includes/scss/header";

// Main / Start

// Main / End

// Footer
@import "../../includes/scss/footer";

// Forms
@import "../../includes/scss/forms";

// GUI
@import "../../includes/scss/ui";
