extends ../template/pug/layout.pug

//- Page settings
block vars
    - const title = 'Главная';
    - const lang = 'ru';
    //- - const description = '';
    //- - const keywords = '';

//- Header
block header
    include ../includes/pug/header.pug

    //- Main content
    main.main
        .main__content.container
            .content.
                Hi Pug. How are you?
//- Footer
block footer
    include ../includes/pug/footer.pug

//- JS
block scripts
    include ../includes/pug/scripts.pug