.card {
	$col_gap_max: 0;
	$col_gap_min: 0;
	$row_gap_max: 0;
	$row_gap_min: 0;
	$item_margin_max: 0;
	$item_margin_min: 0;
	$item_padding_x_max: 0;
	$item_padding_x_min: 0;
	$item_padding_y_max: 0;
	$item_padding_y_min: 0;

	overflow: hidden;

	//? ### Variants
	// @import 'variants/column';
	// @import 'variants/row';

	&__grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: rem($col_gap_min);
		row-gap: rem($row_gap_min);

		@include media-min(lg) {
			gap: rem($col_gap_max);
			row-gap: rem($row_gap_max);
		}
	}

	&__preview {
		position: relative;

		width: 100%;
		min-height: rem(170);
		overflow: hidden;

		@include media-min(md) {
			min-height: rem(200);
		}

		@include media-hover {
			// Preview overlay
			&[href] {
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 2;

					color: $white;
					white-space: nowrap;

					transform: translate(-50%, -50%);
					cursor: pointer;
					opacity: 0;

					transition: transition(time, sm);

					content: 'Learn more';
				}

				& img {
					filter: brightness(1);

					transition: transition(time, sm);
				}

				&:hover {
					&:before {
						opacity: 1;
					}

					& img {
						filter: brightness(0.5);
					}
				}
			}
		}
	}

	&__header {
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__title {
		margin-right: auto;

		@include media-hover {
			&[href] {
				transition: transition(time);

				&:hover {
				}
			}
		}
	}

	&__content {
		flex: 1 1 auto;

		@include media-hover {
			&[href] {
				transition: transition(time);

				&:hover {
				}
			}
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		& .card__date {
			margin-right: auto;
		}
	}

	&__date {
		white-space: nowrap;
	}
}
