.card {
	$card_gap_max: 25;
	$card_gap_min: 15;

	overflow: hidden;

	background: $white;
	border: $border;
	border-radius: radius(sm);
	box-shadow: $boxShadow;

	& &__inner {
		// If card_inner comes first
		&:first-child {
			@include adaptive('padding-left', $card_gap_max, $card_gap_min, 1);
		}

		// If card_inner comes last
		&:last-child {
			@include adaptive('padding-right', $card_gap_max, $card_gap_min, 1);
		}
	}

	// Card col
	&.col {
		display: flex;
		flex-direction: column;
		@include adaptive('padding-bottom', $card_gap_max, $card_gap_min, 1);
		overflow: hidden;

		// Card items gap
		& > [class*='card__'] {
			&:not([class*='preview']) {
				@include adaptive('padding-right', $card_gap_max, $card_gap_min, 1);
				@include adaptive('padding-left', $card_gap_max, $card_gap_min, 1);
			}

			&:not(:last-child) {
				@include adaptive('margin-bottom', $card_gap_max, $card_gap_min, 1);
			}
		}

		// If card_header comes first
		& .card__header:first-child {
			@include adaptive('margin-top', $card_gap_max, $card_gap_min, 1);
		}

		// If card_preview comse last
		& .card__preview:last-child {
			@include adaptive('margin-bottom', -$card_gap_max, -$card_gap_min, 1);
		}
	}

	// Card row
	&.row {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		@include adaptive('gap', $card_gap_max, $card_gap_min, 1);

		@include media-min(sm) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: rem(10);
		row-gap: rem(20);

		// Card grid col
		&.col {
			@include media-min(md) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include media-min(lg) {
				grid-template-columns: repeat(3, 1fr);
				gap: rem(20);
				row-gap: rem(30);
			}

			@include media-min(xxl) {
				grid-template-columns: repeat(4, 1fr);
			}
		}

		// Card grid row
		&.row {
			@include media-min(lg) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include media-min(xl) {
				gap: rem(20);
			}
		}
	}

	&__preview {
		position: relative;

		width: 100%;
		min-height: rem(170);
		overflow: hidden;

		@include media-min(md) {
			min-height: rem(200);
		}

		@include media-hover {
			// Preview overlay
			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 2;

				color: $white;
				font-weight: 700;
				font-size: rem(28);
				font-family: $fontFamily_secondary;
				letter-spacing: $letterSpacing;
				white-space: nowrap;

				transform: translate(-50%, -50%);
				cursor: pointer;
				opacity: 0;

				transition: 0.3s;

				content: 'Learn more';
			}

			& img {
				filter: brightness(1);

				transition: 0.3s;
			}

			&:hover {
				&:before {
					opacity: 1;
				}

				& img {
					filter: brightness(0.5);
				}
			}
		}

		// Card preview col
		&.col {
			@include media-minmax(sm, md) {
				min-height: rem(300);
			}
		}

		// Card preview row
		&.row {
		}
	}

	// Card inner row
	&__inner {
		display: flex;
		flex-direction: column;
		@include adaptive('padding-top', $card_gap_max, $card_gap_min, 1);
		@include adaptive('padding-bottom', $card_gap_max, $card_gap_min, 1);

		@include media-max(sm) {
			@include adaptive('padding-right', $card_gap_max, $card_gap_min, 1);
			@include adaptive('padding-left', $card_gap_max, $card_gap_min, 1);
		}

		// Card items gap
		& > [class*='card__']:not(:last-child) {
			@include adaptive('margin-bottom', $card_gap_max, $card_gap_min, 1);
		}
	}

	&__header {
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__title {
		margin-right: auto;

		color: dark(1);
		font-weight: 700;
		font-size: rem(20);
		letter-spacing: $letterSpacing;
	}

	&__content {
		flex: 1 1 auto;

		color: $color_body;
		font-size: rem(14);
		line-height: rem(20);
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		& .card__date {
			margin-right: auto;
		}
	}

	&__date {
		color: gray(500);
		font-size: rem(14);
		white-space: nowrap;
	}
}
