.card {
	$content_between_max: 25;
	$content_between_min: 15;

	$content_padding_x_max: 25;
	$content_padding_x_min: 15;
	$content_padding_y_max: 25;
	$content_padding_y_min: 15;

	overflow: hidden;

	//? ### Variants
	@import 'variants/column';
	@import 'variants/row';

	&__preview {
		position: relative;

		width: 100%;
		min-height: rem(170);
		overflow: hidden;

		@include media-min(md) {
			min-height: rem(200);
		}

		//? Preview overlay
		// @include media-hover {
		// 	&[href] {
		// 		&:before {
		// 			position: absolute;
		// 			top: 50%;
		// 			left: 50%;
		// 			z-index: 2;

		// 			color: $white;
		// 			text-align: center;

		// 			transform: translate(-50%, -50%);
		// 			opacity: 0;

		// 			content: 'Learn more';
		// 		}

		// 		& img {
		// 			filter: brightness(1);
		// 		}

		// 		&:hover {
		// 			&:before {
		// 				opacity: 1;
		// 			}

		// 			& img {
		// 				filter: brightness(0.2);
		// 			}
		// 		}
		// 	}
		// }
	}

	&__inner {
		display: flex;
		flex-direction: column;

		//? Margin between card items (Exclude last item)
		& > [class*='card__']:not(:last-child) {
			@include adaptive('margin-bottom', $content_between_max, $content_between_min);
		}
	}

	&__content {
		flex: 1 1 auto;

		@include media-hover {
			&[href] {
				&:hover {
				}
			}
		}
	}
}
