//? ### Variant: Column

&.col {
	display: flex;
	flex-direction: column;
	grid-column: 12 span;

	overflow: hidden;
	@include adaptive('padding-bottom', $card_gap_max, $card_gap_min, 1);

	@include media-min(md) {
		grid-column: 6 span;
	}

	@include media-min(lg) {
		grid-column: 4 span;
	}

	@include media-min(xl) {
		grid-column: 3 span;
	}

	// Card items gap
	& > [class*='card__'] {
		&:not([class$='preview']) {
			@include adaptive('padding-right', $card_gap_max, $card_gap_min, 1);
			@include adaptive('padding-left', $card_gap_max, $card_gap_min, 1);
		}

		&:not(:last-child) {
			@include adaptive('margin-bottom', $card_gap_max, $card_gap_min, 1);
		}
	}

	// If card_header comes first
	& .card__header:first-child {
		@include adaptive('margin-top', $card_gap_max, $card_gap_min, 1);
	}

	// If card_preview comse last
	& .card__preview:last-child {
		@include adaptive('margin-bottom', -$card_gap_max, -$card_gap_min, 1);
	}

	.card__preview {
		@include media-minmax(sm, md) {
			min-height: rem(300);
		}
	}
}
