extends layouts/layout.pug

block settings
	-
		const page = {
			id: 0,
			name: '',
			description: null,
			lang: 'ru',
			canonical: '/',
			preloadImages: [],

		}

		const meta = {
			keywords: [],
			author: null,
			themeColor: 'hsl(0deg 0% 100%)',
			themeColorLight: null,
			themeColorDark: null,
			ogType: 'website',
			ogLocale: 'ru_RU',
			ogImage: null, // Image 1200x630
			twitterImage: null // Image 1024x1024
		}

block content
	include pages/index/hero.pug
