extends layouts/layout.pug

block settings
	-
		const page = {
			id:            0,
			name:          'Home',
			description:   null,
			lang:          'ru',
			canonical:     '/',
			header:        false,
			footer:        false,
			modal:         false,
			thumb:         null,
			preloadImages: [],

		}

		const meta = {
			keywords:                        [],
			author:                          null,
			themeColor:                      '#ffffff',
			themeColorLight:                 null,
			themeColorDark:                  null,
			googleTranslate:                 true,
			robots:                          null, // noindex nofollow
			og: {
				type:        'website',
				url:         page.canonical,
				locale:      'ru_RU',
				siteName:    config.siteName,
				title:       true,
				description: page.description,
				image:       page.thumb,
			},

			twitter: {
				card:        'summary_large_image',
				url:         page.canonical,
				site:        config.siteName,
				title:       true,
				description: page.description,
				image:       page.thumb,
			}
		}

block content
	include pages/index/hero.pug
