extends layouts/default.pug

block variables
	- const pageLang = 'ru';
	- const pageName = 'Blank page';
	- const pageDescription = '';
	- const pageKeywords = '';
	//- - const pageRobots = 'noindex, nofollow'

block content
	include pages/home/hero.pug