extends layouts/default.pug

block variables
	-
		const pageId          = 0,
			  pageName        = 'Home',
			  pageLang        = 'ru',
			  pageDescription = '',
			  pageKeywords    = '',
			  pageAuthor      = '',
			  pageLocale      = 'ru-RU',
			  pageUrl         = 'http://localhost:3300',
			  pageLogoFormat  = 'svg',
			  pageScalable    = true,
			  themeColor      = '#ffffff',
			  translate       = true,
			  robots          = true;

block content
	include pages/home/hero.pug

	//- include pages/modals.pug
