extends layouts/default.pug

//- Page settings
block variables
	- const pageLang  = 'ru'
	- const pageName = 'Blank page'
	- const pageDescription = ''
	- const pageKeywords = ''
	//- - const pageRobots = 'noindex, nofollow'

//- block cdnStyles

//- Page content
block content
	include pages/index/**/*.pug

//- block sdnScripts
	script(type='module').
		import Swiper from 'https://unpkg.com/swiper@7/swiper-bundle.esm.browser.min.js'