@use 'sass:math';

// To Rem
@function rem($px) {
	$result: math.div($px, 16) + rem;

	@return $result;
}

// To Em
@function em($px) {
	$result: math.div($px, 16) + em;

	@return $result;
}

// To %
@function prc($pxOne, $pxTwo) {
	$result: math.div($pxOne, $pxTwo) * 100%;

	@return $result;
}
