@use 'functions/converter' as *;

//? # Container
$layoutWidth: 1920;
$container:   1324;
$offsetMax:   20;
$offsetMin:   10;

//? # Grid
$column-count: 12;
$colGap-max:   20;
$colGap-min:   10;
$rowGap-max:   30;
$rowGap-min:   20;

//? # Colors
$white:   #fff;
$black:   #000;
$accent:  #2460fc;
$success: #29c45f;
$warning: #fcc93f;
$danger:  #ff4732;
$info:    #0378e6;
$gray:    #adb5bd;

//? # Body
$fontSize:     16;
$fontSize-max: $fontSize;
$fontSize-min: 14;
$fontFamily:   'Inter', sans-serif;
$fontWeight:   400;
$color:        #374151;
$background:   $white;

//? # Media breakpoints
$breakpoints: (
	xs:  320,
	sm:  576,
	md:  768,
	lg:  992,
	xl:  1200,
	xxl: 1400,
);

$main-breakpoint: lg !default;

//? # UI
$backdrop:    rgb(#23272b, 90%);
$icon-width:  rem(16);
$icon-height: rem(16);