@use 'sass:map';
@use 'functions/converter' as *;

// Container
$offsetMax:   20;
$offsetMin:   10;
$layoutWidth: 1920;
$container:   1324 + ($offsetMax * 2);

// Grid
$column_count: 12;
$colGap_max:   20;
$rowGap_max:   30;
$colGap_min:   10;
$rowGap_min:   20;

// Colors
$white:   #fff;
$black:   #000;
$accent:  #2460fc;
$success: #29c45f;
$warning: #fcc93f;
$danger:  #ff4732;
$info:    #0378e6;
$gray:    #adb5bd;
$light_1: #f8f9fa;
$light_2: #e2e6ea;
$dark_1:  #343a40;
$dark_2:  #23272b;

// Media breakpoints
$breakpoints: (
	xs:  320  - 0.2,
	sm:  576  - 0.2,
	md:  768  - 0.2,
	lg:  992  - 0.2,
	xl:  1200 - 0.2,
	xxl: 1400 - 0.2,
);

// Cubic-bezier animations
$cubic-bezier: (
	modal:       cubic-bezier(0, 0, 0.5, 1),
	burger-btn:  cubic-bezier(0.57, 0.21, 0.69, 1.25),
	burger-menu: cubic-bezier(0.785, 0.135, 0.15, 0.86),
);

$accent-map: (
	50:  mix($white, $accent, 90),
	100: mix($white, $accent, 80),
	200: mix($white, $accent, 60),
	300: mix($white, $accent, 40),
	400: mix($white, $accent, 20),
	500:     $accent,
	600: mix($black, $accent, 20),
	700: mix($black, $accent, 40),
	800: mix($black, $accent, 60),
	900: mix($black, $accent, 80),
);

$success-map: (
	50:  mix($white, $success, 90),
	100: mix($white, $success, 80),
	200: mix($white, $success, 60),
	300: mix($white, $success, 40),
	400: mix($white, $success, 20),
	500:     $success,
	600: mix($black, $success, 20),
	700: mix($black, $success, 40),
	800: mix($black, $success, 60),
	900: mix($black, $success, 80),
);

$warning-map: (
	50:  mix($white, $warning, 90),
	100: mix($white, $warning, 80),
	200: mix($white, $warning, 60),
	300: mix($white, $warning, 40),
	400: mix($white, $warning, 20),
	500:     $warning,
	600: mix($black, $warning, 20),
	700: mix($black, $warning, 40),
	800: mix($black, $warning, 60),
	900: mix($black, $warning, 80),
);

$danger-map: (
	50:  mix($white, $danger, 90),
	100: mix($white, $danger, 80),
	200: mix($white, $danger, 60),
	300: mix($white, $danger, 40),
	400: mix($white, $danger, 20),
	500:     $danger,
	600: mix($black, $danger, 20),
	700: mix($black, $danger, 40),
	800: mix($black, $danger, 60),
	900: mix($black, $danger, 80),
);

$info-map: (
	50:  mix($white, $info, 90),
	100: mix($white, $info, 80),
	200: mix($white, $info, 60),
	300: mix($white, $info, 40),
	400: mix($white, $info, 20),
	500:     $info,
	600: mix($black, $info, 20),
	700: mix($black, $info, 40),
	800: mix($black, $info, 60),
	900: mix($black, $info, 80),
);

$gray-map: (
	50:  mix($white, $gray, 90),
	100: mix($white, $gray, 80),
	200: mix($white, $gray, 60),
	300: mix($white, $gray, 40),
	400: mix($white, $gray, 20),
	500:     $gray,
	600: mix($black, $gray, 20),
	700: mix($black, $gray, 40),
	800: mix($black, $gray, 60),
	900: mix($black, $gray, 80),
);

$light-map: (
	1: $light_1,
	2: $light_2,
);

$dark-map: (
	1: $dark_1,
	2: $dark_2,
);

$color-names: (
	'accent':  $accent-map,
	'success': $success-map,
	'warning': $warning-map,
	'danger':  $danger-map,
	'info':    $info-map,
	'gray':    $gray-map,
	'light':   $light-map,
	'dark':    $dark-map,
);

$states: (
	hover:     rgb($accent, 15%),
	active:    rgb($accent, 25%),
	focus:     0 0 0 rem(4) rgb($accent, 50%),
	current:   map.get($gray-map, 700),
	disabled: (
		color: map.get($gray-map, 400),
		bg:    rgb($gray, 15%),
	),
);

// UI
$backdrop:    rgb($dark_2, 10%);
$icon_width:  rem(16);
$icon_height: rem(16);