// General / Start

// Default font
$ff: "";
// Max Width
$mxw: 1920;
// Min Width
$mnw: 320px;
// Max Width Container
$mxwContainer: 1170;
// Breackpoint 1
$bp1: $mxwContainer + 12;
// Breackpoint 2
$bp2: 991.98;
// Breackpoint 3
$bp3: 767.98;
// Breackpoint 4
$bp4: 479.98;

// General / End
