@use 'src/styles/utils/forwards' as *;
@use 'src/styles/mixins/adaptive' as *;
@use 'src/styles/mixins/icon';
@use 'src/styles/mixins/media';

$-offset_x_max: 10;
$-offset_x_min: 10;
$-offset_y_max: 50;
$-offset_y_min: 10;
$-content_padding_x_max: 0;
$-content_padding_x_min: 0;
$-content_padding_y_max: 0;
$-content_padding_y_min: 0;
$-content_between_max: 0;
$-content_between_min: 0;
$-btn_close_top: 0;
$-btn_close_right: 0;
$-animation_delay: 0.3s;

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	width: 100%;
	height: 100%;

	visibility: hidden;
	opacity: 0;

	transition: opacity $-animation_delay, visibility $-animation_delay;

	pointer-events: none;

	//? When modal is hidden
	&[aria-hidden='true'] {
		& .modal__inner {
			animation: modal-on-hide $-animation_delay bezier(modal);
		}
	}

	//? When modal is shown
	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;

		pointer-events: all;

		& .modal__inner {
			animation: modal-on-show $-animation_delay bezier(modal);
		}
	}

	//? If content scroll is enabled
	&[data-modal-scroll] {
		& .modal__overlay {
			height: 100%;
		}

		& .modal__content {
			flex: 1 1 auto;
			overflow-y: auto;
		}
	}

	//? If content scroll is disabled
	&:not([data-modal-scroll]) {
		overflow-x: hidden;
		overflow-y: auto;
	}

	&__overlay {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100%;

		background: $backdrop;
	}

	&__inner {
		position: relative;

		display: flex;
		flex-direction: column;

		max-width: rem(500);
		height: calc(100% - rem(20));
		min-height: rem(50);
		margin: rem($-offset_y_min) rem($-offset_x_min);
		@include adaptive('padding-top', $-content_padding_y_max, $-content_padding_y_min);
		@include adaptive('padding-right', $-content_padding_x_max, $-content_padding_x_min);
		@include adaptive('padding-bottom', $-content_padding_y_max, $-content_padding_y_min);
		@include adaptive('padding-left', $-content_padding_x_max, $-content_padding_x_min);
		overflow: hidden;

		background: $white;

		// > [class^='modal__']:not(:last-child) {
		// 	@include adaptive('margin-bottom', $-content_between_max, $-content_between_min);
		// }

		@include media.min(sm) {
			height: calc(100% - rem($-offset_y_max));
			margin: rem($-offset_y_max) rem($-offset_x_max);
		}
	}

	&__close {
		@include icon.cross($size: 32, $width: 2, $color: color('gray', 600), $radius: 2);
		position: absolute;
		top: rem($-btn_close_top);
		right: rem($-btn_close_right);

		padding: rem(8);

		&:before,
		&:after {
			width: 60%;
		}

		@include media.hover {
			&:hover {
				&:before,
				&:after {
					background: color(dark, 1);
				}
			}
		}
	}
}

@keyframes modal-on-show {
	from {
		transform: translateY(20%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes modal-on-hide {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10%);
	}
}
