.modal {
	$modal_padding_max: 15;
	$modal_padding_min: 10;
	$modal_cubic: cubic-bezier(0, 0, 0.5, 1);

	transition: opacity transition(time, sm), visibility transition(time, sm);

	&[aria-hidden='true'] {
		visibility: hidden;
		opacity: 0;

		pointer-events: none;

		& .modal__inner {
			animation: modal-on-hide transition(time, sm) $modal_cubic;
		}
	}

	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;

		pointer-events: all;

		& .modal__inner {
			animation: modal-on-show transition(time, sm) $modal_cubic;
		}
	}

	&__overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		background: $backdrop;
	}

	&__inner {
		max-width: rem(500);
		max-height: 100vh;
		margin: 0 rem(10);
		overflow-y: auto;

		background-color: $white;
		border: $border;
		border-radius: radius(sm);
		box-shadow: $boxShadow;
	}

	&__header {
		display: flex;
		align-items: center;
		@include adaptive('padding-top', $modal_padding_max, $modal_padding_min);
		@include adaptive('padding-right', $modal_padding_max, $modal_padding_min);
		@include adaptive('padding-left', $modal_padding_max, $modal_padding_min);
	}

	&__close {
		position: relative;

		width: rem(24);
		height: rem(24);
		margin-left: auto;

		border: rem(1) solid gray(400);
		border-radius: radius(circle);

		transition: transition(time);

		&:before,
		&:after {
			position: absolute;
			top: 50%;
			left: 50%;

			display: inline-block;
			width: 60%;
			height: rem(2);

			background: dark(1);

			content: '';
		}

		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		@include media-hover {
			&:hover {
				border-color: gray(500);
			}
		}
	}

	&__title {
		color: dark(1);
		font-weight: 600;
		@include adaptive('font-size', 24, 20);
		line-height: 125%;
	}

	&__content {
		@include adaptive('padding-top', 30, 15);
		@include adaptive('padding-right', $modal_padding_max, $modal_padding_min);
		@include adaptive('padding-bottom', 30, 15);
		@include adaptive('padding-left', $modal_padding_max, $modal_padding_min);
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
		@include adaptive('padding', $modal_padding_max, $modal_padding_min);

		background: light(1);

		.btn:not(:last-child) {
			margin-right: rem(15);
		}
	}
}

@keyframes modal-on-show {
	from {
		transform: translateY(20%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes modal-on-hide {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10%);
	}
}
