.modal {
	$delay: 0.3s;

	$close_top: 0;
	$close_right: 0;

	$content_between_max: 0;
	$content_between_min: 0;

	$content_padding_x_max: 0;
	$content_padding_x_min: 0;
	$content_padding_y_max: 0;
	$content_padding_y_min: 0;

	transition: opacity $delay, visibility $delay;

	&[aria-hidden='true'] {
		visibility: hidden;
		opacity: 0;

		pointer-events: none;

		& .modal__inner {
			animation: modal-on-hide $delay bezier(modal);
		}
	}

	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;

		pointer-events: all;

		& .modal__inner {
			animation: modal-on-show $delay bezier(modal);
		}
	}

	&__overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		background: $backdrop;
	}

	&__inner {
		position: relative;

		width: 100%;
		max-width: rem(500);
		min-height: rem(50);
		margin: 0 rem(10);
		@include adaptive('padding-top', $content_padding_y_max, $content_padding_y_min);
		@include adaptive('padding-right', $content_padding_x_max, $content_padding_x_min);
		@include adaptive('padding-bottom', $content_padding_y_max, $content_padding_y_min);
		@include adaptive('padding-left', $content_padding_x_max, $content_padding_x_min);
		overflow-y: auto;

		background: $white;

		> [class^='modal__']:not(:last-child) {
			@include adaptive('margin-bottom', $content_between_max, $content_between_min);
		}
	}

	&__header {
		display: flex;
		align-items: center;
	}

	&__close {
		@include icon-cross($size: 24, $width: 2, $color: color('gray', 600), $radius: 2);
		position: absolute;
		top: rem($close_top);
		right: rem($close_right);

		&:before,
		&:after {
			width: 60%;
		}

		@include media-hover {
			&:hover {
				&:before,
				&:after {
					background: color(dark, 1);
				}
			}
		}
	}
}

@keyframes modal-on-show {
	from {
		transform: translateY(20%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes modal-on-hide {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10%);
	}
}
