nav.footer__nav.nav

//- .footer__copy
//- 	| &copy;
//- 	span#copy
//- 	| &nbsp; #{ config.siteName }. #{ config.copyright }
//- 	script document.querySelector('#copy').innerText = new Date().getFullYear();
