nav.footer__menu.menu.grid

//- .footer__copy
//- 	| &copy;
//- 	span#copy
//- 	| &nbsp; #{ brandName }. #{ copyText }
//- 	script document.querySelector('#copy').innerText = new Date().getFullYear();
