+modal({ id: 'modal-1' })
	.modal__header
		h2.modal__title Modal title

	.modal__content
		p ...

	.modal__footer
		//- +btn({ text: 'Cancel', mods: 'light' })(data-modal-close)
		+btn({ text: 'Confirm', mods: 'solid'})
