//? ### Module: Burger [Button / Menu]

.header {
	//? ## Header overlay
	// &:before {
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 1;

	// 	width: 100%;
	// 	height: $header_height;

	// 	background: $header_background;

	// 	content: '';
	// }

	&__inner {
		//? ## Buger menu backdrop
		// &:before {
		// 	position: fixed;
		// 	top: 0;
		// 	left: 0;

		// 	width: 100%;
		// 	height: 100%;

		// 	background: $backdrop;
		// 	visibility: hidden;
		// 	opacity: 0;

		// 	transition: opacity 0.3s, visibility 0.3s;

		// 	content: '';
		// }

		// &.--show {
		// 	&:before {
		// 		visibility: visible;
		// 		opacity: 1;
		// 	}
		// }
	}

	&__nav {
		//? ## Burger menu
		@include media-max($header_point) {
			position: fixed;
			top: 0;
			@if $burger_menu_direction == ltr {
				left: -100%;
			} @else {
				right: -100%;
			}

			height: 100%;
			padding-top: calc($header_height + rem(50));
			overflow: auto;

			background: $header_background;

			@if $burger_menu_direction == ltr {
				transition: left $burger_menu_delay bezier(burger-menu);
			} @else {
				transition: right $burger_menu_delay bezier(burger-menu);
			}

			&.--show {
				@if $burger_menu_direction == ltr {
					left: 0;
				} @else {
					right: 0;
				}
			}
		}
	}
}

.burger {
	position: relative;
	z-index: 1;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: $burger_btn_size;
	height: $burger_btn_size;
	margin-left: auto;

	user-select: none;

	span {
		position: relative;

		display: block;
		width: 90%;
		height: $burger_line_height;

		background: $burger_btn_color;

		transition: background 0.1s;

		&:before,
		&:after {
			position: absolute;
			left: 0;

			width: 100%;
			height: $burger_line_height;

			background: $burger_btn_color;
			transform-origin: 50% 50%;

			transition: top 0.1s 0.1s, transform 0.1s;

			content: '';
		}

		&:before {
			top: rem(-12);
		}

		&:after {
			top: rem(12);
		}
	}

	&.--show {
		span {
			background: transparent;

			transition: background 0.1s 0s bezier(burger-btn);

			&:before,
			&:after {
				top: 0;

				transition: top 0.1s bezier(burger-btn), transform 0.1s 0.1s bezier(burger-btn);
			}

			&:before {
				transform: rotate3d(0, 0, 1, 45deg);
			}

			&:after {
				transform: rotate3d(0, 0, 1, -45deg);
			}
		}
	}
}
