//? ### Module: Dropdown menu

&__item {
	position: relative;
}

&__link {
	display: flex;
	align-items: center;

	&.--show {
		color: $-color_hover;
	}

	&[data-dropdown='toggle'] {
		&:after {
			content: '';

			@include media.max($-breakpoint) {
				margin-left: rem(5);

				@include icon.arrow-1($size: 6, $color: $-color, $direction: bottom, $radius: 4);
			}

			@include media.min($-breakpoint) {
				margin-left: rem(5);

				@include icon.arrow-1($size: 6, $color: $-color, $direction: bottom, $radius: 4);
			}
		}

		&.--show {
			&:after {
				border-top-color: $-color_hover;
				transform: rotateX(180deg);
			}

			// Show dropdown
			@include media.min($-breakpoint) {
				& ~ .menu__sub-list {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}

	@include media.hover {
		&:hover[data-dropdown='toggle']:after {
			border-top-color: $-color_hover;
		}
	}

	@include media.max($-breakpoint) {
		&.--show ~ .menu__sub-list {
			display: block;
		}
	}
}

&__sub {
	&-list {
		@include media.max($-breakpoint) {
			display: none;
		}

		@include media.min($-breakpoint) {
			position: absolute;
			top: 100%;
			z-index: 15;

			visibility: hidden;
			opacity: 0;
		}
	}

	&-item {
	}

	&-link {
		display: inline-block;
		width: 100%;

		color: $-color;

		&.--disabled {
			color: map.get($states, disabled, color);

			pointer-events: none;
		}

		@include media.hover {
			&:hover {
				color: $-color_hover;
			}
		}
	}
}
