//? ### Module: Dropdown menu

&__item {
	position: relative;
}

&__link {
	display: flex;
	align-items: center;

	&.--show {
		color: $color_hover;
	}

	&[data-dropdown='toggle'] {
		&:after {
			border-radius: radius(sm);

			content: '';

			@include media-max(lg) {
				margin-left: rem($dropdown_icon_margin_mob);

				@include icon-arrow-1($dropdown_icon_size_mob, $color, bottom);
			}

			@include media-min(lg) {
				margin-left: rem($dropdown_icon_margin_desk);

				@include icon-arrow-1($dropdown_icon_size_desk, $color, bottom);
			}
		}

		&.--show {
			&:after {
				border-top-color: $color_hover;
				transform: rotateX(180deg);
			}

			// Show dropdown
			@include media-min(lg) {
				& ~ .menu__sub-list {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}

	@include media-hover {
		&:hover[data-dropdown='toggle']:after {
			border-top-color: $color_hover;
		}
	}

	@include media-max(lg) {
		&.--show ~ .menu__sub-list {
			display: block;
		}
	}
}

&__sub {
	&-list {
		@include media-max(lg) {
			display: none;
		}

		@include media-min(lg) {
			position: absolute;
			top: 100%;
			z-index: zindex(dropdown);

			visibility: hidden;
			opacity: 0;
		}
	}

	&-item {
	}

	&-link {
		display: inline-block;
		width: 100%;

		color: $color;

		&.--disabled {
			color: state(disabled, color);

			pointer-events: none;
		}

		@include media-hover {
			&:hover {
				color: $color_hover;

				background: state(hover);
			}
		}
	}
}
