//? ### Module: Menu

&__list {
	@include media.min($-breakpoint) {
		display: flex;
	}
}

&__item {
	@include media.min($-breakpoint) {
		&:not(:last-child) {
		}
	}
}

&__link {
	color: $-color;
	font-size: inherit;

	&.--current {
		color: map.get($states, current);

		pointer-events: none;
	}

	@include media.hover {
		&:hover {
			color: $-color_hover;
		}
	}
}
