.header {
	position: $header_position;
	z-index: zindex(header);

	width: 100%;

	background: $header_background;
	border-bottom: $border_default;
	box-shadow: $boxShadow_default;

	&__inner {
		display: flex;
		align-items: center;
		min-height: $header_height;
	}

	&__logo {
		z-index: zindex(default);

		margin-right: auto;
	}

	&__nav {
	}

	&__burger {
	}
}

.menu {
	font-family: $header_menu_fontFamily;

	@include media-max(lg) {
		position: fixed;
		top: 0;
		right: -100%;

		width: 100%;

		max-width: $header_burger_maxWidth;
		height: 100%;
		padding: $header_burger_padding;
		@include adaptive(
			'padding-left',
			$header_burger_x_padding_max,
			$header_burger_x_padding_min,
			1
		);
		@include adaptive(
			'padding-right',
			$header_burger_x_padding_max,
			$header_burger_x_padding_min,
			1
		);
		overflow: auto;

		background: $header_burger_menu_background;
		border-left: $header_border;
		box-shadow: $header_boxShadow;

		transition: $header_burger_transition;

		// Menu body overlay
		&:before {
			position: fixed;
			top: 0;
			left: 0;
			z-index: zindex(default);

			width: 100%;
			height: $header_height;

			background: $header_background;
			border-bottom: $header_border;

			content: '';
		}

		&.--show {
			right: 0;
		}
	}

	&__list {
		@include media-min(lg) {
			display: flex;
		}
	}

	&__item {
		position: relative;

		@include media-min(lg) {
			&:not(:last-child) {
				margin-right: $header_item_margin;
			}
		}
	}

	&__link {
		padding: $header_link_padding;

		color: $header_color;
		font-weight: $header_link_fontWeight;

		letter-spacing: $header_link_letterSpacing;

		@include media-max(lg) {
			display: inline-block;
			padding-left: $header_burger_paddingLeft;

			font-size: $header_burger_link_fontSize;

			// Icon 'Minus'
			&:before {
				position: absolute;
				top: $header_link_icon_top;
				left: 0;

				width: $header_link_icon_width;
				height: $header_link_icon_height;

				background: $header_color;
				border-radius: $header_borderRadius;

				content: '';
			}

			// Icon 'Plus' for dropdown buttons
			&[data-dropdown-btn] {
				&:after {
					position: absolute;
					top: $header_link_icon_top;
					left: 0;

					width: $header_link_icon_width;
					height: $header_link_icon_height;

					background: $header_color;
					border-radius: $header_borderRadius;
					transform: rotate(-90deg);

					transition: $header_transition_min;

					content: '';
				}
			}

			&.--current {
				&:before {
					background: $header_color_current;
				}
			}

			&.--show {
				&:before,
				&:after {
					background: $header_color_hover;
				}

				&:after {
					transform: rotate(0deg);
				}

				& ~ .menu__sub-list {
					display: block;
				}
			}
		}

		@include media-min(lg) {
			display: flex;
			align-items: center;

			font-size: $header_link_fontSize;

			transition: $header_transition_min;

			&[data-dropdown-btn] {
				&:after {
					margin-left: $header_link_icon_marginLeft;

					border-top: 6px solid $header_color;
					border-right: 6px solid transparent;
					border-left: 6px solid transparent;
					border-radius: radius(sm);

					transition: $header_transition_max;

					content: '';
				}

				&.--show {
					&:after {
						border-top-color: $header_color_hover;
						transform: rotate(-180deg);
					}

					& ~ .menu__sub-list {
						transform: translateY(0px);
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}

		@include media-hover {
			&:hover {
				color: $header_color_hover;

				&[data-dropdown-btn]:after {
					border-top-color: $header_color_hover;
				}
			}

			&:active {
				color: $header_color_active;
			}
		}

		&.--current {
			color: $header_color_current;

			pointer-events: none;
		}

		&.--show {
			color: $header_color_hover;
		}
	}

	&__sub {
		&-list {
			@include media-max(lg) {
				display: none;
			}

			@include media-min(lg) {
				position: absolute;
				top: 100%;
				z-index: zindex(dropdown);

				padding: $header_subList_padding;

				background: $white;
				border: $header_subList_border;
				border-radius: $header_borderRadius;
				transform: translateY(10px);
				visibility: hidden;
				opacity: 0;

				transition: $header_transition_max;
			}
		}

		&-item {
		}

		&-link {
			display: inline-block;
			width: 100%;

			color: $header_color;
			font-weight: $header_subLink_fontWeight;
			letter-spacing: $header_link_letterSpacing;

			@include media-max(lg) {
				padding: $header_subLink_padding_mob;

				font-size: $header_subLink_fontSize_mob;
			}

			@include media-min(lg) {
				padding: $header_subLink_padding_desk;

				font-size: $header_subLink_fontSize_desk;

				border-radius: radius(sm);

				transition: $header_transition_min;
			}

			@include media-hover {
				&:hover {
					color: $header_color_hover;

					background: $header_background_hover;
				}

				&:active {
					background: $header_background_active;
				}

				&:focus-visible {
					box-shadow: $header_link_focus;
				}
			}

			&.--disabled {
				color: $header_color_disabled;

				pointer-events: none;
			}
		}
	}
}

@include media-max(lg) {
	.burger {
		position: relative;
		z-index: zindex(default);

		width: $header_burger_icon_width;
		height: $header_burger_icon_height;

		cursor: pointer;

		& span,
		&:before,
		&:after {
			position: absolute;
			left: 0;

			width: 100%;
			height: $header_burger_icon_line_height;

			background: $header_burger_icon_background;
			border-radius: radius(sm);

			transition: $header_burger_icon_transition;
		}

		&:before,
		&:after {
			content: '';
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}

		& span {
			top: 50%;

			transform: scale(1) translate(0px, -50%);
		}

		&.--show {
			& span {
				transform: scale(0) translate(0px, -50%);
			}

			&:before {
				top: 50%;

				transform: rotate(45deg) translate(0px, -55%);
			}

			&:after {
				bottom: 50%;

				transform: rotate(-45deg) translate(0px, 80%);
			}
		}
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 100%;

		background-color: $header_burger_overlay_background;
		visibility: hidden;
		opacity: 0;

		transition: all 0.3s ease-in-out;

		&.--show {
			visibility: visible;
			opacity: 0.8;
		}
	}
}
