$header_background: transparent;
$header_height: auto;
$header_point: lg;

.header {
	z-index: 10;

	background: $header_background;

	&__inner {
		display: flex;
		align-items: center;
		min-height: $header_height;
	}

	&__logo {
		z-index: 1;
	}

	&__nav {
	}

	&__menu {
	}
}

.menu {
	$color: color('gray', 600);
	$color_hover: color(accent, 500);

	//? ### Menu
	// @import 'modules/menu';

	// ? ### Dropdown menu
	// @import 'modules/dropdown';
}

@include media-max(lg) {
	$burger_btn_animation: cubic-bezier(0.57, 0.21, 0.69, 1.25);
	$burger_btn_size: rem(44);
	$burger_btn_color: color(dark, 1);
	$burger_line_height: rem(4);

	//? ### Burger
	// @import 'modules/burger';
}
