//- Arguments:
	mods    {string}  - Modificator('s)

//- Call:
	+header('sticky')

mixin header(mods)
	-
		var allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			var modsList = mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = `${allMods} header--${modsList[i].trim()}`;
			}
		}

	header.header(class=allMods, role='banner')&attributes(attributes)
		.header__inner.container
			block

//- If header is enabled by default for all pages
+header('')
