//- Config & mixin
include ../config/config.pug
include ../mixins/**/*.pug

//- Components mixins
include ../../components/badges/badges.pug
include ../../components/breadcrumbs/breadcrumbs.pug
include ../../components/btn/btn.pug
include ../../components/card/card.pug
include ../../components/footer/footer.pug
include ../../components/header/header.pug
include ../../components/modal/modal.pug
include ../../components/pagination/pagination.pug
include ../../components/spoiler/spoiler.pug
include ../../components/tabs/tabs.pug

block settings

doctype html
html(lang=page.lang)
	head
		include ../config/head.pug
		block styles

	body.body
		.wrapper
			header.header(role='banner')
				.header__inner.container
					- let tag;
					- page.id !== 0 ? (tag = `a href='${page.canonical}'`) : (tag = 'div');

					block header
						include ../parts/header.pug

			main.main
				block content

			footer.footer(role='contentinfo')
				.footer__inner.container
					block footer
						include ../parts/footer.pug

		block scripts
			script(src='assets/js/app.min.js')
