include ../config/config.pug
include ../mixins/**/*.pug
include ../../components/**/*.pug

block variables

doctype html
html(lang=pageLang)
	head
		include ../parts/head.pug

	body.body
		.wrapper
			block header
				include ../../components/header/header.pug

			main.main
				block content

			block footer
				include ../../components/footer/footer.pug

		block scripts
			script(src='assets/js/app.min.js')
