//- Config & mixin
include ../config/config.pug
include ../mixins/**/*.pug

//- Components mixins
//- include ../../components/badges/badges.pug
//- include ../../components/breadcrumbs/breadcrumbs.pug
//- include ../../components/btn/btn.pug
//- include ../../components/card/card.pug
//- include ../../components/pagination/pagination.pug
//- include ../../components/popup/popup.pug
//- include ../../components/spoiler/spoiler.pug
//- include ../../components/tabs/tabs.pug

block variables

doctype html
html(lang=pageLang)
	head
		include ../config/head.pug

	body.body
		.wrapper
			block header

			main.main
				block content

			block footer

		block scripts
			script(src='assets/js/app.min.js')
