//- Config & mixin
include ../base/config.pug
include ../mixins/**/*.pug

block settings

doctype html
html(lang=page.lang)
	head
		include ../base/head.pug
		block styles

	body.body
		.wrapper
			if page.header
				header.header
					.header__inner.container
						-
							let tag;
							page.id !== 0 ? (tag = `a href='${page.canonical}'`) : (tag = 'div');

						block header
							include ../layouts/header.pug

			main.main
				block content

			if page.footer
				footer.footer(role='contentinfo')
					.footer__inner.container
						-
							let tag;
							page.id !== 0 ? (tag = `a href='${page.canonical}'`) : (tag = 'div');

						block footer
							include ../layouts/footer.pug

			if page.modal
				include ../layouts/modal.pug

		block scripts
			script(src='assets/js/main.min.js')
