extends template/layout.pug

//- Page settings
block vars
    - const title = 'Главная';
    - const lang = 'ru';
    //- - const description = '';
    //- - const keywords = '';
    - const style = 'assets/css/main.min.css'
    - const script = 'assets/js/main.min.js'

//- Header
block header
    include includes/header.pug

    //- Main content
    main.main
        .main__content.container
            .content.
                Hi Pug. How are you?
//- Footer
block footer
    include includes/footer.pug

//- JS
block scripts
    include includes/scripts.pug