//? ### Variant: Only icon

&-icon {
	$icon_padding_max: 10;
	$icon_padding_min: 8;

	display: inline-flex;

	vertical-align: middle;

	border-radius: radius(circle);
	cursor: pointer;

	transition: $transition;

	.icon {
		@include adaptive('width', 24, 22);
		@include adaptive('height', 24, 22);
	}

	&__primary {
		$padding_max: $icon_padding_max;
		$padding_min: $icon_padding_min;

		@include adaptive('padding', $padding_max, $padding_min, 1);

		background: accent(500);

		&:disabled,
		&.--disabled {
			background: accent(200);
			cursor: not-allowed;
		}

		.icon {
			fill: $white;
		}

		@include media-hover {
			&:not(:disabled, .--disabled) {
				&:hover {
					background: accent(600);
				}

				&:active {
					background: accent(700);
				}
			}
		}
	}

	&__outline {
		$border_size: 2;
		$padding_max: $icon_padding_max - $border_size;
		$padding_min: $icon_padding_min - $border_size;

		@include adaptive('padding', $padding_max, $padding_min, 1);
		border: rem($border_size) solid accent(500);

		fill: accent(500);

		&:disabled,
		&.--disabled {
			border-color: accent(200);
			cursor: not-allowed;

			.icon {
				fill: accent(200);
			}
		}

		.icon {
			fill: accent(500);
		}

		@include media-hover {
			&:not(:disabled, .--disabled) {
				&:hover {
					border-color: accent(400);

					.icon {
						fill: accent(400);
					}
				}

				&:active {
					border-color: accent(500);

					.icon {
						fill: accent(500);
					}
				}
			}
		}
	}

	&__secondary {
		$padding_max: $icon_padding_max;
		$padding_min: $icon_padding_min;

		@include adaptive('padding', $padding_max, $padding_min, 1);

		background: $btn_light_color;

		&:disabled,
		&.--disabled {
			background: state(disabled, bg);
			cursor: not-allowed;

			.icon {
				fill: state(disabled, color);
			}
		}

		.icon {
			fill: accent(500);
		}

		@include media-hover {
			&:not(:disabled, .--disabled) {
				&:hover {
					background: state(hover);
				}

				&:active {
					background: state(active);
				}
			}
		}
	}

	&__light {
		&:disabled,
		&.--disabled {
			cursor: not-allowed;

			.icon {
				fill: accent(200);
			}
		}

		.icon {
			fill: accent(500);
		}

		@include media-hover {
			&:not(:disabled, .--disabled) {
				&:hover .icon {
					fill: accent(600);
				}

				&:active .icon {
					fill: accent(700);
				}
			}
		}
	}
}
