//? ### Variant: Only icon

&-icon {
	$icon_padding_max: 10;
	$icon_padding_min: 8;

	display: inline-flex;

	vertical-align: middle;

	border-radius: radius(circle);
	cursor: pointer;

	transition: transition(time);

	.icon {
		@include adaptive('width', 24, 22);
		@include adaptive('height', 24, 22);
	}

	// .btn-icon__solid
	@include btn(
		$element: 'solid',
		$fill: $white,
		$bg: accent(500),
		$bg_hover: accent(600),
		$bg_active: accent(700),
		$bg_disabled: accent(200)
	) {
		@include adaptive('padding', $icon_padding_max, $icon_padding_min, 1);
	}

	// .btn-icon__outline
	@include btn(
		$element: 'outline',
		$fill: accent(500),
		$fill_hover: accent(600),
		$fill_active: accent(400),
		$fill_disabled: accent(200),
		$border_width: $border_width,
		$border_color: accent(500),
		$border_color_hover: accent(600),
		$border_color_active: accent(400),
		$border_color_disabled: accent(200)
	) {
		$padding_max: $icon_padding_max - $border_width;
		$padding_min: $icon_padding_min - $border_width;

		@include adaptive('padding', $padding_max, $padding_min, 1);
	}

	// .btn-icon__light
	@include btn(
		$element: 'light',
		$fill: accent(500),
		$fill_disabled: state(disabled, color),
		$bg: color.adjust(accent(500), $alpha: -0.9),
		$bg_hover: state(hover),
		$bg_active: state(active),
		$bg_disabled: state(disabled, bg)
	) {
		@include adaptive('padding', $icon_padding_max, $icon_padding_min, 1);
	}

	// .btn-icon__text
	@include btn(
		$element: 'text',
		$fill: accent(500),
		$fill_hover: accent(600),
		$fill_active: accent(700),
		$fill_disabled: accent(200)
	);
}
