//? ### Variant: Light

@include btn(
	$element: 'light',
	$color: accent(500),
	$color_disabled: state(disabled, color),
	$bg: color.adjust(accent(500), $alpha: -0.9),
	$bg_hover: state(hover),
	$bg_active: state(active),
	$bg_disabled: state(disabled, bg)
) {
	@include adaptive('padding-top', $btn_padding_y_max, $btn_padding_y_min);
	@include adaptive('padding-right', $btn_padding_x_max, $btn_padding_x_min);
	@include adaptive('padding-bottom', $btn_padding_y_max, $btn_padding_y_min);
	@include adaptive('padding-left', $btn_padding_x_max, $btn_padding_x_min);
}
