//? ### Variant: Light

&__light {
	color: accent(500);

	&:disabled,
	&.--disabled {
		color: accent(200);

		background: none;
		cursor: not-allowed;
	}

	@include media-hover {
		&:not(:disabled, .--disabled) {
			&:hover {
				color: accent(600);
			}

			&:active {
				color: accent(700);
			}
		}
	}
}
