//? ### Variant: Outline

@include btn(
	$element: 'outline',
	$color: accent(500),
	$color_hover: accent(600),
	$color_active: accent(400),
	$color_disabled: accent(200),
	$border_width: $border_width,
	$border_color: accent(500),
	$border_color_hover: accent(600),
	$border_color_active: accent(400),
	$border_color_disabled: accent(200)
) {
	$padding_x_max: $btn_padding_x_max - $border_width;
	$padding_x_min: $btn_padding_x_min - $border_width;
	$padding_y_max: $btn_padding_y_max - $border_width;
	$padding_y_min: $btn_padding_y_min - $border_width;

	@include adaptive('padding-top', $padding_y_max, $padding_y_min, 1);
	@include adaptive('padding-right', $padding_x_max, $padding_x_min, 1);
	@include adaptive('padding-bottom', $padding_y_max, $padding_y_min, 1);
	@include adaptive('padding-left', $padding_x_max, $padding_x_min, 1);
}

@include btn(
	$element: 'outline',
	$mod: '--success',
	$color: success(500),
	$color_hover: success(600),
	$color_active: success(400),
	$color_disabled: success(200),
	$border_width: $border_width,
	$border_color: success(500),
	$border_color_hover: success(600),
	$border_color_active: success(400),
	$border_color_disabled: success(200)
) {
	$padding_x_max: $btn_padding_x_max - $border_width;
	$padding_x_min: $btn_padding_x_min - $border_width;
	$padding_y_max: $btn_padding_y_max - $border_width;
	$padding_y_min: $btn_padding_y_min - $border_width;

	@include adaptive('padding-top', $padding_y_max, $padding_y_min, 1);
	@include adaptive('padding-right', $padding_x_max, $padding_x_min, 1);
	@include adaptive('padding-bottom', $padding_y_max, $padding_y_min, 1);
	@include adaptive('padding-left', $padding_x_max, $padding_x_min, 1);
}
