//? ### Variant: Primary

&__solid {
	$color: $white;
	$padding_x_max: $btn_padding_x_max;
	$padding_x_min: $btn_padding_x_min;
	$padding_y_max: $btn_padding_y_max;
	$padding_y_min: $btn_padding_y_min;

	@include adaptive('padding-top', $padding_y_max, $padding_y_min, 1);
	@include adaptive('padding-right', $padding_x_max, $padding_x_min, 1);
	@include adaptive('padding-bottom', $padding_y_max, $padding_y_min, 1);
	@include adaptive('padding-left', $padding_x_max, $padding_x_min, 1);

	color: $color;

	background: accent(500);

	&:disabled,
	&.--disabled {
		background: accent(200);
		cursor: not-allowed;
	}

	@include media-hover {
		&:not(:disabled, .--disabled) {
			&:hover {
				background: accent(600);
			}

			&:active {
				background: accent(700);
			}
		}
	}
}
