//? ### Variant: Solid

@include btn(
	$element: 'solid',
	$color: $white,
	$bg: accent(500),
	$bg_hover: accent(600),
	$bg_active: accent(700),
	$bg_disabled: accent(200)
) {
	@include adaptive('padding-top', $btn_padding_y_max, $btn_padding_y_min);
	@include adaptive('padding-right', $btn_padding_x_max, $btn_padding_x_min);
	@include adaptive('padding-bottom', $btn_padding_y_max, $btn_padding_y_min);
	@include adaptive('padding-left', $btn_padding_x_max, $btn_padding_x_min);
}

@include btn(
	$element: 'solid',
	$mod: '--success',
	$color: $white,
	$bg: success(500),
	$bg_hover: success(600),
	$bg_active: success(700),
	$bg_disabled: success(200)
) {
	@include adaptive('padding-top', $btn_padding_y_max, $btn_padding_y_min);
	@include adaptive('padding-right', $btn_padding_x_max, $btn_padding_x_min);
	@include adaptive('padding-bottom', $btn_padding_y_max, $btn_padding_y_min);
	@include adaptive('padding-left', $btn_padding_x_max, $btn_padding_x_min);
}
