include ./mixins.pug

+footer({})
	//- .footer__bottom
	//- 	script document.querySelector('#copy').innerText = new Date().getFullYear();
	//- 	| &copy;
	//- 	span#copy
	//- 	| &nbsp; #{ brandName }. #{ copyText }
