mixin footer(mods)
	-
		var allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			var modsList = mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' footer--' + modsList[i].trim();
			}
		}

	footer.footer(class=allMods, role='contentinfo')&attributes(attributes)
		.footer__inner.container
			block

			//- .footer__c
				script.
					document.write('&copy; ' + new Date().getFullYear() + ' #{brandName}. Все права защищены.');

//- If footer is enabled by default for all pages
+footer('')
