.spoiler {
	&__item {
		background: $spoiler_background;
		border: $spoiler_border;
		border-radius: $spoiler_borderRadius;
		box-shadow: $spoiler_boxShadow;

		&:not(:last-child) {
			@include adaptive('margin-bottom', $spoiler_gap_max, $spoiler_gap_min, 1);
		}
	}

	&__title {
		position: relative;

		width: 100%;
		@include adaptive('padding', $spoiler_title_padding_max, $spoiler_title_padding_min, 1);

		color: $spoiler_title_color;
		font-weight: $spoiler_title_fontWeight;
		@include adaptive('font-size', $spoiler_title_fontSize_max, $spoiler_title_fontSize_min, 1);
		font-family: $fontFamily_secondary;
		letter-spacing: $spoiler_letterSpacing;
		text-align: left;

		background: $spoiler_title_background;
		border-radius: $spoiler_borderRadius;

		transition: $spoiler_transition;

		@include media-hover {
			&:hover {
				color: $spoiler_title_color_hover;

				background: color.adjust($spoiler_title_color_hover, $alpha: -0.9);
			}

			&:focus-visible {
				box-shadow: $spoiler_focus;
			}
		}

		&.--show {
			color: $spoiler_title_color_hover;

			background: color.adjust($spoiler_title_color_hover, $alpha: -0.85);
		}
	}

	&.--init &__title {
		&:before,
		&:after {
			position: absolute;
			@include adaptive('top', $spoiler_icon_top_max, $spoiler_icon_top_min, 1);
			@include adaptive('right', $spoiler_icon_right_max, $spoiler_icon_right_min, 1);

			@include adaptive('width', $spoiler_icon_width_max, $spoiler_icon_width_min, 1);
			height: $spoiler_icon_height;

			background: $spoiler_title_color;
			border-radius: radius(sm);

			transition: $spoiler_title_transition;

			content: '';
		}

		&:after {
			transform: rotate(-90deg);
		}

		&.--show {
			&:before,
			&:after {
				background: $spoiler_title_color_hover;
			}

			&:after {
				transform: rotate(0deg);
			}
		}

		@include media-hover {
			&:hover {
				&:before,
				&:after {
					background: $spoiler_title_color_hover;
				}
			}
		}
	}

	&__content {
		@include adaptive('padding-top', $spoiler_y_padding_max, $spoiler_y_padding_min, 1);
		@include adaptive('padding-right', $spoiler_x_padding_max, $spoiler_x_padding_min, 1);
		@include adaptive('padding-bottom', $spoiler_y_padding_max, $spoiler_y_padding_min, 1);
		@include adaptive('padding-left', $spoiler_x_padding_max, $spoiler_x_padding_min, 1);

		color: $spoiler_content_color;
		@include adaptive(
			'font-size',
			$spoiler_content_fontSize_max,
			$spoiler_content_fontSize_min,
			1
		);
	}
}
