.spoiler {
	&__item {
		&:not(:last-child) {
		}
	}

	&__title {
		position: relative;

		width: 100%;
		@include adaptive('padding-right', 50, 35);

		text-align: left;

		transition: transition(time);

		@include media-hover {
			&:hover {
				color: accent(500);

				background: state(hover);
			}
		}

		&.--show {
			color: accent(500);

			background: state(active);
		}
	}

	&.--init &__title {
		&:before,
		&:after {
			position: absolute;
			top: calc(50% - 1px);
			@include adaptive('right', 20, 10, 1);

			@include adaptive('width', 16, 16, 1);
			height: rem(2);

			background: dark(1);

			transition: transform 0.3s ease 0s;

			content: '';
		}

		&:after {
			transform: rotate(-90deg);
		}

		&.--show {
			&:before,
			&:after {
				background: accent(500);
			}

			&:after {
				transform: rotate(0deg);
			}
		}

		@include media-hover {
			&:hover {
				&:before,
				&:after {
					background: accent(500);
				}
			}
		}
	}

	&__content {
	}
}
