.spoiler {
	$icon_height: 2;
	$icon_width: 16;

	$title_padding_x_max: 0;
	$title_padding_x_min: 0;
	$title_padding_y_max: 0;
	$title_padding_y_min: 0;

	$content_padding_x_max: 0;
	$content_padding_x_min: 0;
	$content_padding_y_max: 0;
	$content_padding_y_min: 0;

	&__item {
		&:not(:last-child) {
			// margin-bottom: rem();
		}
	}

	&__title {
		position: relative;

		width: 100%;
		@include adaptive('padding-top', $title_padding_y_max, $title_padding_y_min);
		@include adaptive('padding-right', $title_padding_x_max + 30, $title_padding_x_min + 20);
		@include adaptive('padding-bottom', $title_padding_y_max, $title_padding_y_min);
		@include adaptive('padding-left', $title_padding_x_max, $title_padding_x_min);

		font-size: inherit;
		text-align: left;

		@include media-hover {
			&:hover {
				color: color(accent, 500);

				background: state(hover);
			}
		}

		&.--show {
			color: color(accent, 500);

			background: state(active);
		}
	}

	&.--init &__title {
		&:before,
		&:after {
			position: absolute;
			top: calc(50% - 1px);
			@include adaptive('right', $title_padding_x_max, $title_padding_x_min);

			width: rem($icon_width);
			height: rem($icon_height);

			background: color(dark, 1);

			transition: transform 0.3s ease 0s;

			content: '';
		}

		&:after {
			transform: rotate(-90deg);
		}

		&.--show {
			&:before,
			&:after {
				background: color(accent, 500);
			}

			&:after {
				transform: rotate(0deg);
			}
		}

		@include media-hover {
			&:hover {
				&:before,
				&:after {
					background: color(accent, 500);
				}
			}
		}
	}

	&__content {
		@include adaptive('padding-top', $content_padding_y_max, $content_padding_y_min);
		@include adaptive('padding-right', $content_padding_x_max, $content_padding_x_min);
		@include adaptive('padding-bottom', $content_padding_y_max, $content_padding_y_min);
		@include adaptive('padding-left', $content_padding_x_max, $content_padding_x_min);
	}
}
