doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="css/style.min.css")
	body
		span Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты.
		script(src="js/app.min.js")