//  ========== Импорт / Миксины ==========
@import '../includes/scss/mixins';

//  ========== Импорт / Шрифты ==========
@import '../includes/scss/fonts';

//  ========== Импорт / Переменные ==========
@import '../includes/scss/variables';

//  ========== Импорт / Чистка стилей ==========
@import '../includes/scss/eraser';

//  Оболочка / Start
//  ====================

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// &._loaded {
	// }
}

//  ====================
//  Оболочка / End

//  ========== Импорт / Формы ==========
@import '../includes/scss/forms';

//  ========== Импорт / Хэдер ==========
@import '../includes/scss/header';

//  ========== Импорт / Футер ==========
@import '../includes/scss/footer';
