//- +modal({ mods: '', id: 'modal-1', title: 'Modal title' })
//- 	block modal-contnent
//- 		p ...

//- 	block modal-footer
//- 		+btn({ text: 'Cancel', mods: 'light' })(data-modal-close)
//- 		+btn({ text: 'Confirm', mods: 'solid'})
