@mixin btn-solid($btn__bg, $btn__bg--hover, $btn__bg--focus, $btn__outline) {
	&--solid {
		background-color: #{$btn__bg};

		@include media-min(lg) {
			&:hover {
				background-color: #{$btn__bg--hover};
			}

			&:focus-visible {
				background-color: #{$btn__bg--focus};
				outline: #{$btn__outline};
			}
		}
	}
}

@mixin btn-outline(
	$btn__color,
	$btn__bg,
	$btn__outline,
	$btn__color--hover,
	$btn__bg--hover,
	$btn__color--focus,
	$btn__bg--focus,
	$btn__border--focus
) {
	&--outline {
		color: #{$btn__color};

		background-color: #{$btn__bg};
		outline: #{$btn__outline};
		outline-offset: -2px;

		@include media-min(lg) {
			&:hover {
				color: #{$btn__color--hover};

				background-color: #{$btn__bg--hover};
			}

			&:focus-visible {
				color: #{$btn__color--focus};

				background-color: #{$btn__bg--focus};
				outline: #{$btn__border--focus};
			}
		}
	}
}
