@use 'utils/forwards' as *;
@use 'media';

//? ### Badge
// $element:       'solid',
// $mod:           '--success',
// $color:         $white,
// $bg:            $accent,
// $outline-width: 2,
// $outline-color: $accent,

@mixin badge(
	$element,
	$mod: null,
	$color: null,
	$bg: null,
	$outline-width: null,
	$outline-color: null
) {
	&__#{$element}#{$mod} {
		color: $color;

		background: $bg;
		@if $outline-width {
			outline: $outline-width solid $outline-color;
			outline-offset: -$outline-width;
		}
	}
}

//? ### Btn
// $element:               'solid',
// $mod:                   '--success',
// $color:                 $white,
// $color-hover:           $white,
// $color-active:          $white,
// $color-disabled:        $gray-300,
// $fill:                  $white,
// $fill-hover:            $white,
// $fill-active:           $white,
// $fill-disabled:         $gray-300,
// $bg:                    $accent-500,
// $bg-hover:              $accent-600,
// $bg-active:             $accent-700,
// $bg-disabled:           $accent-200,
// $border-width:          2,
// $border-color:          $accent-200,
// $border-color-hover:    $accent-300,
// $border-color-active:   $accent-400,
// $border-color-disabled: $gray-300,

@mixin btn(
	$element,
	$mod: null,
	$color: null,
	$color-hover: null,
	$color-active: null,
	$color-disabled: null,
	$fill: null,
	$fill-hover: null,
	$fill-active: null,
	$fill-disabled: null,
	$bg: null,
	$bg-hover: null,
	$bg-active: null,
	$bg-disabled: null,
	$border-width: null,
	$border-color: null,
	$border-color-hover: null,
	$border-color-active: null,
	$border-color-disabled: null
) {
	&__#{$element}#{$mod} {
		@content;

		color: $color;

		background: $bg;
		@if $border-width {
			border: rem($border-width) solid $border-color;
		}

		&:disabled,
		&.--disabled {
			color: $color-disabled;

			@if $fill-disabled {
				.icon {
					fill: $fill-disabled;
				}
			}

			background: $bg-disabled;
			border-color: $border-color-disabled;
			cursor: not-allowed;
		}

		@if $fill {
			.icon {
				fill: $fill;
			}
		}

		@include media.hover {
			&:not(:disabled, .--disabled) {
				&:hover {
					color: $color-hover;

					@if $fill-hover {
						.icon {
							fill: $fill-hover;
						}
					}

					background: $bg-hover;
					border-color: $border-color-hover;
				}

				&:active {
					color: $color-active;

					@if $fill-active {
						.icon {
							fill: $fill-active;
						}
					}

					background: $bg-active;
					border-color: $border-color-active;
				}
			}
		}
	}
}
