@use 'utils/forwards' as *;
@use 'media';

//? ### Badge
// $element:       'solid',
// $mod:           '--success',
// $color:         $white,
// $bg:            color(success, 500),
// $outline_width: 2,
// $outline_color: color(success, 500),

@mixin badge(
	$element,
	$mod: null,
	$color: null,
	$bg: null,
	$outline_width: null,
	$outline_color: null
) {
	&__#{$element}#{$mod} {
		color: $color;

		background: $bg;
		@if $outline_width {
			outline: $outline_width solid $outline_color;
			outline-offset: -$outline_width;
		}
	}
}

//? ### Btn
// $element:               'solid',
// $mod:                   '--success',
// $color:                 $white,
// $color_hover:           $white,
// $color_active:          $white,
// $color_disabled:        color('gray', 300),
// $fill:                  $white,
// $fill_hover:            $white,
// $fill_active:           $white,
// $fill_disabled:         color('gray', 300),
// $bg:                    color(success, 500),
// $bg_hover:              color(success, 600),
// $bg_active:             color(success, 700),
// $bg_disabled:           color(success, 200),
// $border_width:          2,
// $border_color:          color(success, 200),
// $border_color_hover:    color(success, 300),
// $border_color_active:   color(success, 400),
// $border_color_disabled: color('gray', 300),

@mixin btn(
	$element,
	$mod: null,
	$color: null,
	$color_hover: null,
	$color_active: null,
	$color_disabled: null,
	$fill: null,
	$fill_hover: null,
	$fill_active: null,
	$fill_disabled: null,
	$bg: null,
	$bg_hover: null,
	$bg_active: null,
	$bg_disabled: null,
	$border_width: null,
	$border_color: null,
	$border_color_hover: null,
	$border_color_active: null,
	$border_color_disabled: null
) {
	&__#{$element}#{$mod} {
		@content;

		color: $color;

		background: $bg;
		@if $border_width {
			border: rem($border_width) solid $border_color;
		}

		&:disabled,
		&.--disabled {
			color: $color_disabled;

			@if $fill_disabled {
				.icon {
					fill: $fill_disabled;
				}
			}

			background: $bg_disabled;
			border-color: $border_color_disabled;
			cursor: not-allowed;
		}

		@if $fill {
			.icon {
				fill: $fill;
			}
		}

		@include media.hover {
			&:not(:disabled, .--disabled) {
				&:hover {
					color: $color_hover;

					@if $fill_hover {
						.icon {
							fill: $fill_hover;
						}
					}

					background: $bg_hover;
					border-color: $border_color_hover;
				}

				&:active {
					color: $color_active;

					@if $fill_active {
						.icon {
							fill: $fill_active;
						}
					}

					background: $bg_active;
					border-color: $border_color_active;
				}
			}
		}
	}
}
