@mixin face($font, $url, $weight: 400, $style: normal) {
	@font-face {
		font-weight: $weight;
		font-family: '#{$font}';
		font-style: $style;
		src: url('../fonts/#{$font}-#{$url}.woff2') format('woff2');
		font-display: swap;
	}
}
