@mixin icon-arrow-1($border: 6, $color: dark(1), $direction: top) {
	@if $direction == 'top' {
		border-right: rem($border) solid transparent;
		border-bottom: rem($border) solid $color;
		border-left: rem($border) solid transparent;
	}

	@if $direction == 'right' {
		border-top: rem($border) solid transparent;
		border-bottom: rem($border) solid transparent;
		border-left: rem($border) solid $color;
	}
	@if $direction == 'bottom' {
		border-top: rem($border) solid $color;
		border-right: rem($border) solid transparent;
		border-left: rem($border) solid transparent;
	}

	@if $direction == 'left' {
		border-top: rem($border) solid transparent;
		border-right: rem($border) solid $color;
		border-bottom: rem($border) solid transparent;
	}
}
