@use 'utils/forwards' as *;

@mixin arrow-1($size: 6, $color: currentColor, $direction: top, $radius: 0) {
	@if $direction == 'top' {
		border-right: rem($size) solid transparent;
		border-bottom: rem($size) solid $color;
		border-left: rem($size) solid transparent;
		border-radius: em($radius);
	}

	@if $direction == 'right' {
		border-top: rem($size) solid transparent;
		border-bottom: rem($size) solid transparent;
		border-left: rem($size) solid $color;
		border-radius: em($radius);
	}
	@if $direction == 'bottom' {
		border-top: rem($size) solid $color;
		border-right: rem($size) solid transparent;
		border-left: rem($size) solid transparent;
		border-radius: em($radius);
	}

	@if $direction == 'left' {
		border-top: rem($size) solid transparent;
		border-right: rem($size) solid $color;
		border-bottom: rem($size) solid transparent;
		border-radius: em($radius);
	}
}

@mixin cross($size: 16, $width: 2, $color: currentColor, $radius: null) {
	position: relative;

	display: inline-block;
	width: rem($size);
	height: rem($size);

	&:before,
	&:after {
		position: absolute;
		top: 50%;
		left: 50%;

		display: inline-block;
		width: 100%;
		height: rem($width);

		background: $color;
		@if $radius {
			border-radius: em($radius);
		}

		content: '';
	}

	&:before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&:after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}
