@mixin icon-arrow-1($size: 6, $color: color(dark, 1), $direction: top, $radius: 0) {
	@if $direction == 'top' {
		border-right: rem($size) solid transparent;
		border-bottom: rem($size) solid $color;
		border-left: rem($size) solid transparent;
		border-radius: em($radius);
	}

	@if $direction == 'right' {
		border-top: rem($size) solid transparent;
		border-bottom: rem($size) solid transparent;
		border-left: rem($size) solid $color;
		border-radius: em($radius);
	}
	@if $direction == 'bottom' {
		border-top: rem($size) solid $color;
		border-right: rem($size) solid transparent;
		border-left: rem($size) solid transparent;
		border-radius: em($radius);
	}

	@if $direction == 'left' {
		border-top: rem($size) solid transparent;
		border-right: rem($size) solid $color;
		border-bottom: rem($size) solid transparent;
		border-radius: em($radius);
	}
}
