@use 'utils/variables' as *;
@use 'functions/converter' as *;

// Min width
@mixin min($key) {
	@if map-has-key($breakpoints, $key) {
		$breakpoint: map-get($breakpoints, $key);

		@media (min-width: em($breakpoint)) {
			@content;
		}
	} @else {
		@media (min-width: em($key)) {
			@content;
		}
	}
}

// Max width
@mixin max($key) {
	@if map-has-key($breakpoints, $key) {
		$breakpoint: map-get($breakpoints, $key);

		@media (max-width: em($breakpoint - 0.2)) {
			@content;
		}
	} @else {
		@media (max-width: em($key - 0.2)) {
			@content;
		}
	}
}

// Min/Max width
@mixin minmax($key1, $key2) {
	$breakpointMin: map-get($breakpoints, $key1);
	$breakpointMax: map-get($breakpoints, $key2);
	@if map-has-key($breakpoints, $key1) and map-has-key($breakpoints, $key2) {
		@media (min-width: em($breakpointMin)) and (max-width: em($breakpointMax - 0.2)) {
			@content;
		}
	} @else if map-has-key($breakpoints, $key1) and not map-has-key($breakpoints, $key2) {
		@media (min-width: em($breakpointMin)) and (max-width: em($key2 - 0.2)) {
			@content;
		}
	} @else if map-has-key($breakpoints, $key2) and not map-has-key($breakpoints, $key1) {
		@media (min-width: em($key1)) and (max-width: em($breakpointMax - 0.2)) {
			@content;
		}
	} @else {
		@media (min-width: em($key1)) and (max-width: em($key2 - 0.2)) {
			@content;
		}
	}
}

// Any hover
@mixin hover {
	@media (any-hover: hover) {
		@content;
	}
}
