.swiper {
	$nav_btn_pos_x: rem(15);
	$pagination_margin: 20;
	$nav_btn_margin: math.div(44 + $pagination_margin, 2);

	&-slide {
		height: rem(250);
	}

	&-pagination {
		position: static;

		margin-top: rem($pagination_margin - 10);

		&-bullet {
			width: rem(24);
			height: rem(6);

			background: color.adjust(dark(1), $alpha: -0.5);
			border-radius: radius(sm);
			opacity: 1;

			transition: $transition;

			@include media-hover {
				&:hover:not(.swiper-pagination-bullet-active) {
					background: color.adjust(accent(500), $alpha: -0.5);
				}
			}

			&-active {
				background: color.adjust(accent(500), $alpha: -0.25);
			}
		}
	}

	&-button-prev,
	&-button-next {
		margin-top: rem(-$nav_btn_margin);

		&:after {
			color: color.adjust(accent(500), $alpha: -0.5);
		}
	}

	&-button-prev {
		left: $nav_btn_pos_x;
	}

	&-button-next {
		right: $nav_btn_pos_x;
	}
}
