//- Миксины
include ../../includes/pug/mixins.pug
//- Переменные
block vars

doctype html
html(lang=lang)
    head
        //- META
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        //- meta(name='description', content=description)
        //- meta(name='keywords', content=keywords)
        meta(name='format-detection' content='telephone=no')
        meta(name='format-detection' content='date=no')
        meta(name='format-detection' content='address=no')
        meta(name='format-detection' content='email=no')
        //- meta(name="robots" content="none")

        //- TAB
        title #{title}
        //- CSS
        include ../../includes/pug/links.pug
    body
        .wrapper
            //- Шапка сайта
            block header

            //- Подвал сайта
            block footer

        //- JS
        block scripts