/**
 * * Expands the <html> and <body> elements to their full height
 */
html,
body {
	height: 100%;
}

/**
 * * Sets a min width for <body> element and prevents horizontal scrolling
 */
body {
	min-width: 320px;
	overflow-x: hidden;
}

/**
 * * Sets the visual border for focused elements with a box-shadow
 * * 1. With :focus-visible
 * * 2. If :focus-visible is not supported, the .focus-visible class is added
 */

.focus-visible {
	box-shadow: 0 0 0 2px var(--color-black); /* 2 */
}

:focus-visible {
	box-shadow: 0 0 0 2px var(--color-black); /* 1 */
}
