@use 'utilities/functions/convert' as *;

:root {
	--content-width: 1288px;
	--container-offset: 16px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));
	--gap: #{rem(20) rem(20)};
	--section-offset: #{rem(30)};

	// * Colors
	--color-white: hsl(0deg 0% 100%);
	--color-black: hsl(0deg 0% 0%);

	// * Typography
	--font-size: 1rem;
	--font-family: 'Inter', sans-serif;

	@media (min-width: em(768)) {
		--gap: #{rem(30)} #{rem(20)};
		--section-offset: #{rem(50)};
	}
}
